{% extends 'base_backend.html' %}

{% block page_class %}page-story-publishing{% endblock %}

{% block backend_header %}
<ul class="breadcrumb">
    <li><a href="{% url 'view_my_stories' %}">ห้องเขียนหนังสือ</a> <span class="divider">/</span></li>
    <li><a href="{% url 'write_my_story' story.uid %}">แก้ไขเนื้อหา</a> <span class="divider">/</span></li>
</ul>
<div class="head"><h1>เผยแพร่ผลงาน</h1></div>
{% endblock %}

{% block backend_body %}
<div class="container">
    <div class="publishing-header clearfix">
        {% block publishing_nav %}{% endblock %}
    </div>
    {% block publishing_content %}{% endblock %}
</div>
{% endblock %}