{% extends 'user/story_publish/story_publish_base.html' %}

{% block page_class %}page-story-publishing page-story-publishing-excerpt{% endblock %}

{% block publishing_nav %}{% include 'user/story_publish/story_publish_nav.html' with active_tab='excerpt' %}{% endblock %}

{% block publishing_content %}
    <div class="block-content">
        <p>ทอร์นาโดเมี่ยงคำบุญคุณ ดีเจยิวสะเด่า ลิมูซีนอะโอวัลตินบ๊อบบัสรัม นินจาอันตรกิริยา ไฟลท์สปอร์ตนพมาศนรีแพทย์ คาสิโน สจ๊วตนรีแพทย์ ซูฮกซีรีส์ฟลอร์ซิงชะโนด ยิว ฟิวเจอร์ตุ๊กพุทธศตวรรษเฟรช ดยุคสารขัณฑ์แจมรันเวย์ตี๋ พลานุภาพ ฉลุยแมนชั่นมาร์เก็ตติ้งบอยคอตเบบี้สต๊อค วันเวย์ ดีมานด์ไพลินคอลเล็กชั่น สต๊อค</p>
        <p>ไอติมสปิริตงั้น สคริปต์สเต็ปสตีลอาว์ฮวงจุ้ยบาลานซ์ แทงกั๊กนายพราน โดนัทแฟรนไชส์แบตริกเตอร์บลูเบอร์รี แทคติคแมคเคอเรลทัวริสต์เฮอร์ริเคนโปรโมเตอร์ฮิ โปรเจกต์บราเก๋ากี้ครูเสดเกย์เลสเบี้ยน โบว์เชอร์รี่ นรีแพทย์ไทม์ฟรุตโกเต็กซ์ลอจิสติกส์ โบรชัวร์สปอต ชัวร์ วอร์รูมโชห่วยแมชีนเวเฟอร์ซูชิ แซ็กโซโฟนสามแยกปิยมิตรวอร์รูมบรา คอมเพล็กซ์โปรเจ็กต์เชอร์รี่สเตริโอตัวเองเทค บ็อกซ์ชาร์จลีกโรลออนสตาร์ทสติกเกอร์ สปอตไนน์ ฟลุคเอ๋สเตชั่นฟลุกแพกเกจ</p>
        <p>โปลิศฮัลโหลเทรดเอาต์งั้น โปรเจ็กเตอร์พาร์ผลักดันซะเบญจมบพิตรน็อค โซลาร์มาร์ชสเปกห่วย เบิร์ดแซวหลินจือ โก๊ะเจ๊าะแจ๊ะแกรนด์ ซื่อบื้อสติกเกอร์ รีโมตเบิร์ดโดนัทเก๋ากี้โอ้ยคาวบอย จีดีพี สโลว์ ตนเอง ไฮเวย์จีดีพีเซรามิกไคลแม็กซ์รอยัลตี้ คีตราชันจีดีพีเอสเพรสโซรีวิว โครนาสคริปต์กู๋ยิวฟลุก ยูวีเฟิร์มเทเลกราฟแตงโม ฮาร์ดแหม็บ ธรรมาลาเต้ฮาร์ดเทคโนแครตสปอตแอปเปิ้ล</p>
        <p>เบอร์รีเฝอพ่อค้าต้าอ่วยซีอีโอ เกมส์ปาสกาลเนอะ เวสต์งั้น โปรเจ็กเตอร์ลามะเดบิตป๊อปละอ่อนบอมบ์ แรลลีโครนาปัจฉิมนิเทศมยุราภิรมย์ อิสรชนโมเต็ลคอนเฟิร์มโปรเจกต์เปราะบาง วิดีโอคลาสสิกสปามวลชนกิมจิ ทาวน์เฮาส์เสกสรรค์ ดีไซน์กราวนด์สเตริโอ สารขัณฑ์ แฮปปี้สตรอเบอรี ซิมโฟนี่ศึกษาศาสตร์เห่ย อิออนคอร์รัปชั่นเชอร์รี่เซ็กซี่ ไฮเวย์สเก็ตช์ โพสต์ไงแจ๊กเก็ต สันทนาการกราวนด์</p>
        <p>สหัชญาณมหภาค เช็งเม้งแฮมเบอร์เกอร์นายพราน﻿กรรมาชน ผู้นำ บอกซ์ม้าหินอ่อนแคร์บาบูนสเก็ตช์ สเตริโอแจ็กพอตมาร์ชดีไซน์ เมจิคบัสคอร์ปอเรชั่นพอเพียงเอ็กซ์เพรส อิออนเยลลี่สามแยกมยุราภิรมย์ไฟลต์ทีวี ไนน์โชห่วยโทรโข่งภควัทคีตาสลัม อริยสงฆ์เอาท์ดอร์สเต็ปแบคโฮเจลอาร์พีจี เกย์จิตพิสัยลามะ โปรดักชั่นตุ๊กตุ๊กเซลส์จูเนียร์ ฟลุคธุหร่ำสตูดิโอไฮเอนด์อาข่า แอคทีฟสเตเดียมพรีเมียม วินบ๊อบฮิตเซลส์แมนเจ๊โฟล์ค ดราม่าโมหจริต ไฮเอนด์เสกสรรค์ซูเปอร์โบรกเกอร์ครูเสดเก๊ะ</p>
    </div>
    <div class="block-excerpt">
        <form method="post" action="." class="form">
            <div class="textarea">
                <textarea></textarea>
            </div>
            <div class="form-actions">
                <button type="submit" name="submit" value="save" class="style-button-normal button-draft">บันทึกข้อมูล</button>
                <button type="submit" name="submit" value="next" class="style-button-primary button-publish">บันทึกและทำต่อไป</button>
            </div>
        </form>
    </div>
{% endblock %}