{% extends 'base_page.html' %}

{% block html_head_scripts %}

{% endblock %}

{% block body_content %}
<div class="page-publication">
    <div class="container">
        <div class="type">นวนิยาย</div>
        <h1>ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</h1>

        <div class="clearfix">
            <div class="cover"><img src="{{ STATIC_URL }}images/sample/covers/cover4.jpg" /></div>
            <div class="author">
                <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a></div>
                <div class="name"><a href="#">ภาณุ ตั้งเฉลิมกุล</a></div>
            </div>
            <div class="summary">คอนโดแฮมเบอร์เกอร์สเปกลิมิต ดีไซน์เนอร์โบว์เซี้ยวนอร์ท บลอนด์ออร์เดอร์เวสต์ซิงอีสต์ แจม เพาเวอร์บลูเบอร์รี่เฟอร์รี่โฟน เอ๋อพิซซ่าเซ็กซ์ออดิชั่น มหาอุปราชาโพลารอยด์เบิร์น โรลออนแคมป์สงบสุขเห่ยซิลเวอร์ แต๋วรีทัชเทรลเล่อร์ตรวจทานคอนแท็คเลดี้</div>
            <div class="buy">
                <div class="price">ราคา 30 บาท</div>
                <div class="buying"><a href="#" class="buy-button">ซื้ออ่านจากเว็บ</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}