{% extends 'base_inner.html' %}

{% block html_head_before_userdefined %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-responsive.css">
{% endblock %}

{% block html_head_scripts %}

{% endblock %}

{% block body_inner %}
<div class="page-publication-view">
    <div class="this-story">
            <div class="cover"><img src="{{ STATIC_URL }}images/sample/covers/cover4.jpg" /></div>
            <div class="block-story clearfix">
                <div class="left">
                    <h1>ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</h1>
                    <div class="summary">คอนโดแฮมเบอร์เกอร์สเปกลิมิต ดีไซน์เนอร์โบว์เซี้ยวนอร์ท บลอนด์ออร์เดอร์เวสต์ซิงอีสต์ แจม เพาเวอร์บลูเบอร์รี่เฟอร์รี่โฟน เอ๋อพิซซ่าเซ็กซ์ออดิชั่น มหาอุปราชาโพลารอยด์เบิร์น โรลออนแคมป์สงบสุขเห่ยซิลเวอร์ แต๋วรีทัชเทรลเล่อร์ตรวจทานคอนแท็คเลดี้</div>
                    <div class="published">
                        <span>เขียนเมื่อวันที่</span>
                        <em>14 ก.พ. 2556</em>
                    </div>
                </div>
                <div class="right">
                    <div class="buy-button"><a href="#" class="arrow_box"><em>20</em> บาท</a></div>



                    <div class="buy">

                        <!--
                        <a href="#" class="button-buy">ซื้ออ่านเองในราคา<em>20 บาท</em></a>
                        <div class="or">
                            <hr><span>โปรโมชันเพื่อนให้เพื่อน</span>
                        </div>
                        <a href="#" class="button-gift">ซื้อให้ตัวเองและเพื่อนในราคา<em>25 บาท</em></a>
                        -->
                    </div>

                </div>
            </div>

            <div class="block-author clearfix">
                <div class="author-box">
                    <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a></div>
                    <div class="name"><a href="#">ภาณุ ตั้งเฉลิมกุล</a></div>
                </div>
                <div class="author-story">
                    คอนโดแฮมเบอร์เกอร์สเปกลิมิต ดีไซน์เนอร์โบว์เซี้ยวนอร์ท บลอนด์ออร์เดอร์เวสต์ซิงอีสต์ แจม เพาเวอร์บลูเบอร์รี่เฟอร์รี่โฟน เอ๋อพิซซ่าเซ็กซ์ออดิชั่น มหาอุปราชาโพลารอยด์เบิร์น
                </div>
            </div>


            <div class="block-tools clearfix">
                <a href="#">Share on Facebook</a> <a href="#">Share on Twitter</a> <a href="#">Send email</a>
            </div>




            {% comment %}




            <div class="title">
                <!--<div class="type">THRILLER FICTION</div>-->
                <h1>ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</h1>
            </div>
            <div class="blocks clearfix">
                <div class="block-author">
                    <div class="author">
                        <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a></div>
                        <div class="name"><a href="#">ภาณุ ตั้งเฉลิมกุล</a></div>
                    </div>
                </div>
                <div class="block-story">
                    <div class="summary">คอนโดแฮมเบอร์เกอร์สเปกลิมิต ดีไซน์เนอร์โบว์เซี้ยวนอร์ท บลอนด์ออร์เดอร์เวสต์ซิงอีสต์ แจม เพาเวอร์บลูเบอร์รี่เฟอร์รี่โฟน เอ๋อพิซซ่าเซ็กซ์ออดิชั่น มหาอุปราชาโพลารอยด์เบิร์น โรลออนแคมป์สงบสุขเห่ยซิลเวอร์ แต๋วรีทัชเทรลเล่อร์ตรวจทานคอนแท็คเลดี้</div>
                    <div class="published">
                        <span>เขียนเมื่อวันที่</span>
                        <em>14 ก.พ. 2556</em>
                    </div>
                </div>
                <div class="block-tools">
                    <div class="buy">
                        <a href="#" class="button-buy">ซื้ออ่านเองในราคา<em>20 บาท</em></a>
                        <div class="or">
                            <hr><span>โปรโมชันเพื่อนให้เพื่อน</span>
                        </div>
                        <a href="#" class="button-gift">ซื้อให้ตัวเองและเพื่อนในราคา<em>25 บาท</em></a>
                    </div>
                </div>
            </div>
            {% endcomment %}
    </div>

    <div class="recommendation clearfix">

        <div class="recommendation-number">
            <div class="total">
                <span class="total-reader">นักอ่าน</span> <em>999</em> <span class="unit">คน</span> <span class="text">รู้สึกดีๆ หลังจากอ่านเรื่องนี้</span>
            </div>
            <div class="groups">
                <span class="from">โดย</span>
                <span class="feeling">
                    <em>15</em> <span class="unit">คน</span> <span class="text">รู้สึกชอบนะ</span>
                </span>
                <span class="feeling">
                    <em>15</em> <span class="unit">คน</span> <span class="text">หลงรักเลยล่ะ</span>
                </span>
                <span class="feeling">
                    <em>15</em> <span class="unit">คน</span> <span class="text">หัวเราะท้องแข็ง</span>
                </span>
                <span class="feeling">
                    <em>15</em> <span class="unit">คน</span> <span class="text">ได้ความรู้ใหม่</span>
                </span>
                <span class="feeling">
                    <em>15</em> <span class="unit">คน</span> <span class="text">เกิดแรงบันดาลใจ</span>
                </span>
            </div>


        </div>
        <div class="recommendation-people">
            <ul>
                <li>
                    <a href="#" class="avatar"><img src="{{ STATIC_URL }}images/sample/avatars/user9.jpg" /></a>
                    <div class="review arrow_box">คอนโดแฮมเบอร์เกอร์สเปกลิมิต ดีไซน์เนอร์โบว์เซี้ยวนอร์ท บลอนด์ออร์เดอร์เวสต์ซิงอีสต์ แจม เพาเวอร์บลูเบอร์รี่เฟอร์รี่โฟน</div>
                </li>
                <li>
                    <a href="#" class="avatar"><img src="{{ STATIC_URL }}images/sample/avatars/user10.jpg" /></a>
                    <div class="review arrow_box">คอนโดแฮมเบอร์เกอร์สเปกลิมิต ดีไซน์เนอร์โบว์เซี้ยวนอร์ท บลอนด์ออร์เดอร์เวสต์ซิงอีสต์ แจม เพาเวอร์บลูเบอร์รี่เฟอร์รี่โฟน คอนโดแฮมเบอร์เกอร์สเปกลิมิต ดีไซน์เนอร์โบว์เซี้ยวนอร์ท บลอนด์ออร์เดอร์เวสต์ซิงอีสต์ แจม เพาเวอร์บลูเบอร์รี่เฟอร์รี่โฟน</div>
                </li>
            </ul>
        </div>

    </div>

        <!-- TODO Share on Social Media -->

        {% comment %}
        <div class="convincing">
            <div class="expression">

            </div>

            <div class="social">
                <div><a href="#" class="btn btn-mini">Like on Facebook</a></div>
                <div><a href="#" class="btn btn-mini">Twitter</a></div>
                <div><a href="#" class="btn btn-mini">Google+</a></div>
            </div>
        </div>
        {% endcomment %}

    <div class="excerpt">
        <div class="container">
            <h2>ส่วนหนึ่งของเรื่อง</h2>
            <div class="excerpt-box">
                <p>สเตเดียมแฟรีคอลเล็กชั่น ดาวน์ซี้อัลบัมสมาพันธ์ สแควร์สเปกพันธกิจมินต์ อัลมอนด์ราเมน โคโยตีกุนซือโมหจริตยูวีสปายแตงกวา เซนเซอร์เจี๊ยวภูมิทัศน์แฟร์วีไอพี บูม แทกติคเลิฟดีลเลอร์แฟรนไชส์แทกติค แคป อวอร์ดสงบสุขฟาสต์ฟู้ด ชีสแดรี่ติ๋มโจ๋สตาร์ท สไตรค์แดรี่ โชว์รูมสตริงมลภาวะแอ็กชั่น ยากูซ่าสวีทแจมบอยคอตซีน นอร์ทไอเดียไคลแมกซ์ไฮเปอร์ เจ๊เบิร์นกระดี๊กระด๊าคาร์โก้ตังค์</p>
                <p>ซังเตทอม สเตริโอสังโฆแกรนด์แจ๊กพอตฮิปโปลีเมอร์ ติ๋มโบรชัวร์มาม่าแฟ้บยูวีแอนด์ พาวเวอร์สหัสวรรษกฤษณ์โชว์รูมโยเกิร์ต แบดเยลลี่ ทริปเบอร์รีสติกเกอร์ อึ๋มแชมป์แฟนซีเซอร์โปรโมชั่นโต๋เต๋ บัลลาสต์ปอดแหก จูเนียร์สต๊อก อิเหนาเทคโนเช็กสเตอริโอ เพนกวินแซนด์วิชฟาสต์ฟู้ด มอบตัวกับดัก ติวเตอร์ โจ๋ มอนสเตอร์พาสเจอร์ไรส์เกรย์คอมเมนต์มือถือบึ้ม ฟอร์ม</p>
                <p>สเตเดียมแฟรีคอลเล็กชั่น ดาวน์ซี้อัลบัมสมาพันธ์ สแควร์สเปกพันธกิจมินต์ อัลมอนด์ราเมน โคโยตีกุนซือโมหจริตยูวีสปายแตงกวา เซนเซอร์เจี๊ยวภูมิทัศน์แฟร์วีไอพี บูม แทกติคเลิฟดีลเลอร์แฟรนไชส์แทกติค แคป อวอร์ดสงบสุขฟาสต์ฟู้ด ชีสแดรี่ติ๋มโจ๋สตาร์ท สไตรค์แดรี่ โชว์รูมสตริงมลภาวะแอ็กชั่น ยากูซ่าสวีทแจมบอยคอตซีน นอร์ทไอเดียไคลแมกซ์ไฮเปอร์ เจ๊เบิร์นกระดี๊กระด๊าคาร์โก้ตังค์</p>
                <p>ซังเตทอม สเตริโอสังโฆแกรนด์แจ๊กพอตฮิปโปลีเมอร์ ติ๋มโบรชัวร์มาม่าแฟ้บยูวีแอนด์ พาวเวอร์สหัสวรรษกฤษณ์โชว์รูมโยเกิร์ต แบดเยลลี่ ทริปเบอร์รีสติกเกอร์ อึ๋มแชมป์แฟนซีเซอร์โปรโมชั่นโต๋เต๋ บัลลาสต์ปอดแหก จูเนียร์สต๊อก อิเหนาเทคโนเช็กสเตอริโอ เพนกวินแซนด์วิชฟาสต์ฟู้ด มอบตัวกับดัก ติวเตอร์ โจ๋ มอนสเตอร์พาสเจอร์ไรส์เกรย์คอมเมนต์มือถือบึ้ม ฟอร์ม</p>
            </div>
        </div>
    </div>

    <!-- TODO Buy button -->

    <div class="authored-stories clearfix">
        <div class="container">
            <h2>Stories from the same author</h2>

            <ul class="stories">
                <li class="style-story story-left">
                    <div class="story-box">
                        <div class="cover">
                            <img src="{{ STATIC_URL }}images/sample/covers/cover4.jpg" />
                        </div>
                        <div class="details">
                            <div class="type type1">THRILLER FICTION</div>
                            <div class="title"><a href="#">ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</a></div>
                            <div class="summary">โต๋เต๋ วอฟเฟิลมอยส์เจอไรเซอร์ฮอตแคมป์ติ๋ม โค้ชซะ ช็อปเจ๊าะแจ๊ะ อพาร์ทเมนต์ชัวร์สติ๊กเกอร์รองรับว้าว อิเหนาคาวบอยหม่านโถวออเดอร์เคลียร์บุ๋น บุญคุณเซ็กส์มาร์กไลน์ แลนด์ราชานุญาตแอปเปิ้ล</div>
                            <div class="author">
                                <a href="#" class="avatar"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a>
                                <a href="#" class="name">ภาณุ ตั้งเฉลิมกุล</a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="buy">
                                <a href="#" class="btn button-buy"><i class="icon-shopping-cart"></i> ซื้ออ่านในราคา 20 บาท</a>

                            </div>
                            <div class="recommends">
                                <span><i class="icon-heart"></i> 14</span>
                                <span><i class="icon-heart"></i> 14</span>
                                <span><i class="icon-heart"></i> 14</span>
                            </div>
                        </div>
                    </div>
                    <div class="extra">
                        <span class="friend"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user1.jpg" /></a> Panu is laughing</span>
                    </div>
                </li>
                <li class="style-story story-right">
                    <div class="story-box">
                        <div class="cover">
                            <img src="{{ STATIC_URL }}images/sample/covers/cover4.jpg" />
                        </div>
                        <div class="details">
                            <div class="type type1">THRILLER FICTION</div>
                            <div class="title"><a href="#">ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</a></div>
                            <div class="summary">โต๋เต๋ วอฟเฟิลมอยส์เจอไรเซอร์ฮอตแคมป์ติ๋ม โค้ชซะ ช็อปเจ๊าะแจ๊ะ อพาร์ทเมนต์ชัวร์สติ๊กเกอร์รองรับว้าว อิเหนาคาวบอยหม่านโถวออเดอร์เคลียร์บุ๋น บุญคุณเซ็กส์มาร์กไลน์ แลนด์ราชานุญาตแอปเปิ้ล</div>
                            <div class="author">
                                <a href="#" class="avatar"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a>
                                <a href="#" class="name">ภาณุ ตั้งเฉลิมกุล</a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="buy">
                                <a href="#" class="btn button-buy"><i class="icon-shopping-cart"></i> ซื้ออ่านในราคา 20 บาท</a>

                            </div>
                            <div class="recommends">
                                <span><i class="icon-heart"></i> 14</span>
                                <span><i class="icon-heart"></i> 14</span>
                                <span><i class="icon-heart"></i> 14</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="similar-stories clearfix">
        <div class="container">
            <h2>Similar stories</h2>
            <ul class="stories">
                <li class="style-story story-left">
                    <div class="story-box">
                        <div class="cover">
                            <img src="{{ STATIC_URL }}images/sample/covers/cover4.jpg" />
                        </div>
                        <div class="details">
                            <div class="type type1">THRILLER FICTION</div>
                            <div class="title"><a href="#">ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</a></div>
                            <div class="summary">โต๋เต๋ วอฟเฟิลมอยส์เจอไรเซอร์ฮอตแคมป์ติ๋ม โค้ชซะ ช็อปเจ๊าะแจ๊ะ อพาร์ทเมนต์ชัวร์สติ๊กเกอร์รองรับว้าว อิเหนาคาวบอยหม่านโถวออเดอร์เคลียร์บุ๋น บุญคุณเซ็กส์มาร์กไลน์ แลนด์ราชานุญาตแอปเปิ้ล</div>
                            <div class="author">
                                <a href="#" class="avatar"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a>
                                <a href="#" class="name">ภาณุ ตั้งเฉลิมกุล</a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="buy">
                                <a href="#" class="btn button-buy"><i class="icon-shopping-cart"></i> ซื้ออ่านในราคา 20 บาท</a>

                            </div>
                            <div class="recommends">
                                <span><i class="icon-heart"></i> 14</span>
                                <span><i class="icon-heart"></i> 14</span>
                                <span><i class="icon-heart"></i> 14</span>
                            </div>
                        </div>
                    </div>
                    <div class="extra">
                        <span class="friend"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user1.jpg" /></a> Panu is laughing</span>
                    </div>
                </li>
                <li class="style-story story-right">
                    <div class="story-box">
                        <div class="cover">
                            <img src="{{ STATIC_URL }}images/sample/covers/cover4.jpg" />
                        </div>
                        <div class="details">
                            <div class="type type1">THRILLER FICTION</div>
                            <div class="title"><a href="#">ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</a></div>
                            <div class="summary">โต๋เต๋ วอฟเฟิลมอยส์เจอไรเซอร์ฮอตแคมป์ติ๋ม โค้ชซะ ช็อปเจ๊าะแจ๊ะ อพาร์ทเมนต์ชัวร์สติ๊กเกอร์รองรับว้าว อิเหนาคาวบอยหม่านโถวออเดอร์เคลียร์บุ๋น บุญคุณเซ็กส์มาร์กไลน์ แลนด์ราชานุญาตแอปเปิ้ล</div>
                            <div class="author">
                                <a href="#" class="avatar"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a>
                                <a href="#" class="name">ภาณุ ตั้งเฉลิมกุล</a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="buy">
                                <a href="#" class="btn button-buy"><i class="icon-shopping-cart"></i> ซื้ออ่านในราคา 20 บาท</a>

                            </div>
                            <div class="recommends">
                                <span><i class="icon-heart"></i> 14</span>
                                <span><i class="icon-heart"></i> 14</span>
                                <span><i class="icon-heart"></i> 14</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}