#body-top {
    background-color: @backgroundColor;
    border-bottom: 1px solid #EEE;
    height: 60px;

    .container {
        text-align: right;

        .logo {
            float: left;
            margin-top: 8px;
        }

        .navigation {
            border-right: 1px solid #E7E7E7;
            display: inline-block;
            margin: 0px;

            li {
                float: left;
                list-style: none;

                a {
                    border-left: 1px solid #E7E7E7;
                    color: #666;
                    font-family: 'QuarkLight', sans-serif;
                    font-size: 20px;
                    display: inline-block;
                    line-height: 59px;
                    height: 55px;
                    padding: 5px 20px 0px;

                    &:hover {
                        background-color: @linkColor;
                        color: #FFF;
                    }
                }
            }
        }

        .registration {
            background-color: #edede2;
            border-radius: 4px;
            float: right;
            margin: 10px 0px 0px 30px;
            padding: 10px 12px 10px;

            a {
                color: #666;
                font-size: 13px;
                margin: 0px 6px;
                text-decoration: underline;

                &:hover {
                    background-color: @linkColor;
                    color: #FFF;
                }
            }
        }

        .account {
            float: right;
            margin-left: 30px;
            padding-top: 14px;

            .avatar {
                img {
                    border-radius: 30px;
                }
            }

            .menu {
                display: inline-block;
                margin-left: 5px;
                vertical-align: middle;

                .caret {
                    border-top-color: #555;
                    border-bottom-color: #555;
                    margin-top: -1px;
                    vertical-align: middle;
                }
            }
        }
    }
}

#body-responsive {
    #body-header {
        .logo {
            padding: 60px 0px 20px;
            text-align: center;

            em {
                color: #666;
                display: block;
                font-family: 'QuarkLight', sans-serif;
                font-size: 20px;
                margin-top: 15px;
            }
        }
    }
}

#body-page {
    .page-header-title {
        background-color: #3EA59B;
        padding: 5px 0px 0px;

        h1 {
            color: #FFF;
            font-family: 'ChiangSaenRegular', serif;
            float: left;
            font-size: 36px;
            font-weight: normal;
            line-height: normal;
        }

        .page-breadcrumb {
            margin: 10px 0px 0px;

            li {
                display: inline-block;
                list-style: none;

                a {
                    color: #EEE;
                    font-size: 13px;
                    text-decoration: underline;
                }

                .divider {
                    color: #DDD;
                    margin: 0px 4px;
                }
            }
        }
    }

    .page-stats {
        margin-bottom: 10px;

        .stat_bar {
            border-bottom: 1px solid #DDD;
            padding: 10px 0px;

            .stat {
                border-right: 1px solid #EEE;
                float: left;
                margin-right: 15px;
                padding-right: 25px;

                .title {
                    color: #444;
                    font-size: 15px;
                    margin: 5px 0px 10px;
                }

                .number {
                    color: #666;
                    font-size: 15px;

                    em {
                        color: #444;
                        font-size: 26px;
                        font-weight: bold;
                        margin-right: 5px;
                    }

                    a {
                        color: #555;
                        font-size: 14px;
                        font-weight: bold;
                        display: inline-block;
                        margin-top: 3px;
                        text-decoration: underline;

                        &:hover {
                            background-color: @linkColor;
                            color: #FFF;
                        }
                    }
                }
            }
        }

        .stat_footer {
            margin-top: 8px;
            text-align: right;

            .weekly {
                color: #888;
                font-size: 13px;
            }

            .separator {
                color: #BBB;
                margin: 0px 6px;
            }

            a {
                .grey_link;
                font-size: 13px;
            }
        }
    }

    .page-actions {
        .btn {
            font-size: 14px;
            padding: 7px 45px;
        }
    }

    .page-style-content-title {
        border-bottom: 1px solid #DDD;
        color: #777;
        font-family: 'QuarkLight', sans-serif;
        font-size: 24px;
        margin-top: 30px;
        padding-bottom: 8px;
    }
}

#body-footer {
    text-align: center;

    .social {
        margin-top: 15px;
        text-align: center;

        a {
            background: url(../images/ui/link.socials.png) no-repeat;
            display: inline-block;
            height: 32px;
            margin: 0px 5px;
            text-indent: -9999px;
            width: 32px;

            &.facebook {
                background-position: 0px 0px;

                &:hover {
                    background-position: 0px -32px;
                }
            }

            &.twitter {
                background-position: -32px 0px;

                &:hover {
                    background-position: -32px -32px;
                }
            }
        }
    }

    .links {
        margin-top: 10px;

        a {
            .content_link;
            font-size: 13px;
        }

        .separator {
            color: #CCC;
            margin: 0px 7px;
        }
    }

    .copyright {
        color: #777;
        font-size: 12px;
        margin-top: 5px;
    }
}

.page-single {
    .logo {
        margin: 0px auto;
        padding-top: 45px;
        text-align: center;
    }
}

.page-homepage {
    .block-title {
        background: url(../images/ui/bg.png) repeat;
        padding: 40px 0px 55px;

        h1 {
            color: #FFF;
            font-family: 'QuarkLight', sans-serif;
            font-size: 54px;
            font-weight: normal;
            line-height: normal;
            margin: 0px;
            text-align: center;
            text-shadow: -1px -1px 0px #888;
        }

        .subtitle {
            color: #daefed;
            font-family: 'QuarkLight', sans-serif;
            font-size: 34px;
            margin: 20px 0px 0px;
            text-align: center;
            text-shadow: -1px -1px 0px #999;
        }
    }

    .block-writers {
        padding: 60px 0px 80px;

        .stat {
            color: #555;
            font-family: 'QuarkLight', sans-serif;
            font-size: 28px;
            text-align: center;

            em {
                font-family: 'QuarkBold', sans-serif;
            }
        }

        .writers {
            margin: 40px 0px 0px;
            text-align: center;

            .writer {
                display: inline-block;
                list-style: none;
                width: 190px;

                .avatar {
                    img {
                        border: 7px solid #FFF;
                        border-radius: 100px;
                        height: 100px;
                        width: 100px;
                        box-shadow: 1px 1px 1px #BBB;
                    }
                }

                .name {
                    margin-top: 14px;

                    a {
                        color: #444;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .block-stories {
        padding-bottom: 80px;

        ul {
            margin: 0px;
        }

        li.story {
            background-color: #F7F7F7;
            border: 1px solid #DDD;
            box-shadow: 0px 0px 2px #DDD;
            float: left;
            list-style: none;
            margin-bottom: 46px;
            padding: 0px;
            width: 560px;

            .cover {
                position: relative;

                img {
                    height: 140px;
                    width: 560px;
                }

                .type {
                    bottom: 0px;
                    color: #EEE;
                    font-size: 13px;
                    height: 30px;
                    line-height: 30px;
                    right: 10px;
                    position: absolute;
                    text-align: right;
                    width: 550px;
                }
            }

            .details {
                padding: 15px 15px;

                .type {
                    color: @skyColor;
                    font-size: 13px;
                }

                .title {
                    margin-top: 12px;

                    a {
                        color: #444;
                        font-family: 'UthongBold', serif;
                        font-size: 28px;
                    }
                }

                .summary {
                    color: #555;
                    font-family: 'ChiangSaenRegular', sans-serif;
                    font-size: 21px;
                    line-height: 27px;
                    margin-top: 10px;
                }

                .author {
                    margin-top: 15px;

                    .avatar {
                        display: inline-block;
                        height: 50px;
                        margin-right: 10px;
                        vertical-align: middle;
                        width: 50px;

                        img {
                            border-radius: 50px;
                        }
                    }

                    .name {
                        display: inline-block;
                        color: #555;
                        font-family: 'UthongRegular';
                        font-size: 24px;
                        vertical-align: middle;
                    }
                }
            }

            .footer {
                border-top: 1px dashed #DDD;

                .buy {
                    float: left;
                    padding: 15px;

                    .button-buy {
                        font-size: 14px;
                        margin-top: 3px;
                        padding: 9px 40px;
                        vertical-align: middle;
                    }

                    .price {
                        color: #555;
                        font-family: 'UthongBold', serif;
                        font-size: 30px;
                        margin-left: 10px;
                        vertical-align: middle;
                    }
                }

                .recommends {
                    float: right;
                    padding: 10px 15px;
                    text-align: right;

                    .number {
                        a {
                            color: #555;
                            font-size: 13px;
                            font-weight: bold;
                        }
                    }

                    .faces {
                        margin-top: 4px;

                        a {
                            img {
                                border-radius: 30px;
                                height: 30px;
                                margin-left: 3px;
                                width: 30px;
                            }
                        }
                    }
                }
            }

            /*
            background-color: #F7F7F7;
            border: 1px solid #DDD;
            box-shadow: 0px 0px 2px #DDD;
            float: left;
            list-style: none;
            margin-bottom: 46px;
            padding: 15px;
            width: 530px;

            .right {
                margin-left: 170px;
            }

            .cover {
                float: left;

                img {
                    height: 200px;
                    width: 150px;
                }
            }

            .title {
                margin-top: 5px;

                a {
                    color: #444;
                    font-family: 'UthongBold', serif;
                    font-size: 26px;
                }
            }

            .summary {
                color: #555;
                font-family: 'ChiangSaenRegular', sans-serif;
                font-size: 21px;
                line-height: 28px;
                margin-top: 10px;
            }

            .comments {
                margin-top: 15px;

                a {
                    color: #666;
                    font-weight: bold;
                }
            }

            .type {
                display: inline-block;
                padding: 3px 15px;
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #FFF;
            }

            .type1 {
                background-color: @skyColor;
            }

            .type2 {
                background-color: @redColor;
            }

            .type3 {
                background-color: #e87d43;
            }

            .type4 {
                background-color: #38b6c2;
            }*/
        }

        li.story-left {
            margin-right: 46px;
        }

        li.story-right {

        }
    }

    /*
    .stories {
        margin: 50px auto 0px;
        max-width: 900px;

        h3 {
            color: #666;
            font-family: 'QuarkLight', sans-serif;
            font-size: 24px;
            font-weight: normal;
            line-height: normal;
            text-align: center;
        }

        ul {
            margin: 0px;

            li {
                list-style: none;
            }
        }

        li.style-story {
            .paper_stack;
            background-color: #FCFCFC;
            margin-bottom: 40px;

            .story-container {
                padding: 0px 25px;
            }

            .head {
                position: relative;
                margin-top: 20px;

                .title {
                    margin-left: 85px;
                    padding-top: 6px;

                    a {
                        color: #444;
                        font-family: 'UthongBold', serif;
                        font-size: 34px;
                    }
                }

                .avatar {
                    background-color: #FFF;
                    height: 65px;
                    left: 0px;
                    margin-right: 10px;
                    position: absolute;
                    top: 0px;
                    width: 65px;
                }

                .author {
                    margin-left: 85px;
                    margin-top: 12px;

                    a {
                        color: #666;
                        font-family: 'UthongRegular', serif;
                        font-size: 24px;
                    }
                }
            }

            .summary {
                color: #555;
                font-family: 'ChiangSaenRegular', sans-serif;
                font-size: 24px;
                line-height: 31px;
                margin-top: 15px;
            }

            .category {
                margin-top: 10px;

                a {
                    color: #555;
                    display: inline-block;
                    font-size: 14px;
                    background-color: #EEE;
                    padding: 4px 15px;

                    &:hover {
                        background-color: @linkColor;
                        color: #FFF;
                        text-decoration: none;
                    }
                }
            }

            .footer {
                background-color: #F7F7F7;
                border-top: 1px solid #EEE;
                height: 65px;
                margin-top: 15px;

                .price-container {
                    background: url(../images/component/ribbon.png) left center no-repeat;
                    clear: both;
                    float: left;
                    height: 35px;
                    margin: 13px 0px 0px -10px;
                    padding: 0px 0px 10px 8px;

                    .price {
                        background: #e93b5f;
                        box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
                        color: #FFF;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 35px;
                        padding: 0px 20px 0px 15px;
                        text-shadow:0 -1px #d0284b, 0 1px #f96080;
                    }
                }

                .left {
                    margin-left: 105px;
                    padding: 13px 0px 16px;
                }

                .right {
                    float: right;
                    margin-top: -65px;
                }

                .button-purchase {
                    color: #444;
                    font-family: 'QuarkLight', sans-serif;
                    font-size: 21px;
                    padding: 10px 40px 4px;
                    vertical-align: middle;
                }

                .read-excerpt {
                    .content_link;
                    margin-left: 10px;
                    vertical-align: middle;
                }

                .recommends {
                    border-left: 1px solid #EEE;
                    height: 65px;
                    padding: 0px 15px 0px 20px;

                    .number {
                        display: inline-block;

                        em {
                            color: #555;
                            display: block;
                            font-size: 22px;
                            font-weight: bold;
                            padding: 10px 0px 5px;
                        }

                        span {
                            color: #777;
                            display: block;
                            font-size: 14px;
                        }
                    }

                    .faces {
                        display: inline-block;
                        margin-left: 10px;

                        img {
                            float: left;
                            width: 30px;
                            height: 30px;
                            margin: 1px;
                        }
                    }
                }
            }
        }
    }*/
}

.page-registration {
    padding-top: 60px;

    h1 {
        color: #666;
        font-family: 'QuarkLight', sans-serif;
        font-size: 34px;
        font-weight: normal;
        line-height: normal;
        margin: 0px 0px 20px 0px;
        text-align: center;
    }

    .title {
        color: #e93b5f;
        font-family: 'QuarkLight', sans-serif;
        font-size: 54px;
        font-weight: normal;
        line-height: normal;
        margin: 0px 0px 20px 0px;
        text-align: center;
    }

    .subtitle {
        color: #666;
        font-family: 'QuarkLight', sans-serif;
        font-size: 30px;
        font-weight: normal;
        line-height: normal;
        margin: 0px 0px 20px 0px;
        text-align: center;
    }

    .registration {
        background-color: #FFF;
        border: 1px solid #DDD;
        box-shadow: 0px 0px 2px #EEE;
        border-radius: 5px;
        margin: 0px auto;
        padding-bottom: 30px;
        width: 600px;

        .social {
            padding-top: 35px;
            text-align: center;

            .facebook {
                .facebook_button;
            }

            .twitter {
                .twitter_button;
                margin-top: 25px;
            }
        }

        .or {
            line-height: 10px;
            margin-top: 40px;
            text-align: center;

            hr {
                border: none;
                border-bottom: 1px solid #EEE;
                margin: 5px 0px;
            }

            span {
                background-color: #FFF;
                color: #999;
                font-size: 13px;
                display: inline-block;
                padding: 0 10px;
                position: relative;
                top: -13px;
            }
        }

        .text-input {
            margin-top: 10px;

            input {
                text-align: center;
                width: 250px;
            }
        }

        .button {
            margin-top: 10px;

            .btn {
                color: #555;
                font-size: 14px;
                height: 40px;
                vertical-align: middle;
                width: 180px;
            }

            .cancel {
                color: #888;
                font-size: 13px;
                margin-left: 10px;
                text-decoration: underline;
                vertical-align: middle;

                &:hover {
                    background-color: @linkColor;
                    color: #FFF;
                }
            }
        }

        .email {
            margin-top: 15px;
            text-align: center;
        }

        .activation {
            margin-top: 35px;
            text-align: center;

            label {
                color: #e93b5f;
                font-family: 'QuarkLight', sans-serif;
                font-size: 26px;
                margin-bottom: 10px;
            }

            .text-input {
                margin-bottom: 30px;
            }

            .name-input {
                input {
                    font-size: 16px;
                    height: 27px;
                    width: 350px;
                }
            }

            .avatar-input {
                margin-bottom: 30px;
            }
        }

        .signup {
            text-align: center;

            a {
                .content_link;
                color: #555;
            }

        }
    }
}

.page-publication-view {
    padding-top: 40px;

    .type {
        color: #666;
        font-family: 'QuarkLight', sans-serif;
        font-size: 22px;
        margin-bottom: 7px;
    }

    h1 {
        color: @skyColor;
        font-family: 'QuarkLight', sans-serif;
        font-size: 42px;
        font-weight: normal;
        line-height: normal;
        margin: 0px 0px 15px;
    }

    .cover {
        float: left;

        img {
            box-shadow: 2px 2px 0px #CCC;
            width: 250px;
        }
    }

    .author {
        border-bottom: 1px solid #DDD;
        margin: 0px 0px 20px 280px;
        padding-bottom: 15px;
        position: relative;

        .avatar {
            display: inline-block;
            height: 50px;
            margin-right: 10px;
            vertical-align: middle;
            width: 50px;
        }

        .name {
            display: inline-block;
            vertical-align: middle;

            a {
                color: #444;
                font-family: 'UthongRegular';
                font-size: 28px;
            }
        }
    }

    .author:after, .author:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .author:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #FFF;
        border-width: 10px;
        left: 25px;
        margin-left: -10px;
    }
    .author:before {
        border-color: rgba(221, 221, 221, 0);
        border-top-color: #DDD;
        border-width: 11px;
        left: 25px;
        margin-left: -11px;
    }

    .summary {
        color: #444;
        font-family: 'ChiangSaenRegular', sans-serif;
        font-size: 24px;
        line-height: 31px;
        margin: 0px 0px 0px 280px;
    }

    .buy {
        margin: 30px 0px 0px 280px;

        .price {
            color: #e06545;
            font-family: 'QuarkLight', sans-serif;
            font-size: 24px;
        }

        .buy-button {
            background-color: #e06545;
            border-radius: 4px;
            box-shadow: 0px 2px 0px #dd532f;
            color: #FFF;
            display: inline-block;
            font-family: 'QuarkLight', sans-serif;
            font-size: 20px;
            line-height: 35px;
            margin-top: 12px;
            padding: 5px 45px 0px;

            &:hover {
                background-color: #dd532f;
                text-decoration: none;
            }
        }
    }
}

.page-publication-read {
    padding-top: 40px;

    .cover {
        margin-bottom: 40px;
        text-align: center;

        img {
            box-shadow: 2px 2px 0px #CCC;
            height: 300px;
        }
    }

    h1 {
        color: @skyColor;
        font-family: 'QuarkLight', sans-serif;
        font-size: 42px;
        font-weight: normal;
        line-height: normal;
        margin: 0px 0px 15px;
        text-align: center;
    }

    .content-container {
        margin: 0px auto;
        width: 650px;

        .content {
            color: #444;
            font-family: 'ChiangSaenRegular', sans-serif;
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 20px;

            p {
                margin-bottom: 20px;
            }
        }
    }


}

.page-workroom {
    ul.works {
        margin: 0px;
    }

    li.work {
        border-bottom: 1px dashed #DDD;
        list-style: none;
        margin-top: 20px;
        padding-bottom: 20px;

        .title {
            a {
                color: #444;
                font-family: 'UthongRegular', serif;
                font-size: 32px;
            }
        }

        .tools {
            margin-top: 12px;

            .btn {
                padding: 2px 20px;
            }
        }

        .footer {
            margin-top: 7px;

            .status {
                color: #555;
                font-size: 13px;

                em {
                    font-weight: bold;
                }

            }

            .status-published em {
                color: #3b9164;
            }

            .separator {
                color: #CCC;
                margin: 0px 7px;
            }

            .date {
                color: #666;
                font-size: 13px;
            }
        }
    }

    .works-box {
        margin-top: 30px;

        .actions {
            float: right;

            .btn {
                width: 160px;
            }
        }

        .works-title {
            border-bottom: 1px solid #DDD;
            color: #777;
            font-family: 'QuarkLight', sans-serif;
            font-size: 24px;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }
}

.page-workroom-writing {

    .content-title {
        margin: 50px 0px 20px;
        text-align: center;

        .caption {
            color: #888;
            font-size: 15px;
        }

        input {
            background-color: @backgroundColor;
            border: 1px solid #EEE;
            box-shadow: none;
            color: #444;
            font-family: 'UthongBold', serif;
            font-size: 34px;
            line-height: 45px;
            height: 50px;
            margin: 10px auto 20px;
            text-align: center;
            transition: none;
            width: 98%;
        }
    }

    .content-body-container {
        margin: 0px auto;
        width: 680px;

        .content-body {
            p {
                color: #444;
                font-family: 'ChiangSaenRegular', sans-serif;
                font-size: 22px;
                line-height: 31px;
                margin-bottom: 15px;
            }
        }

        .redactor_toolbar {
            border: 1px solid #DDD;
            border-bottom: 1px solid #BBB;
        }

        .redactor_box {
            background-color: @backgroundColor;
            border: none;
            font-family: 'ChiangSaenRegular', sans-serif;

            .redactor_editor, .redactor_editor:focus {
                background-color: @backgroundColor !important;
                padding: 15px 0px !important;
            }

            textarea {
                background-color: @backgroundColor;
            }
        }

        .redactor_editor {
            p, ul, ol, dl, li {
                color: #444 !important;
                font-family: 'ChiangSaenRegular', sans-serif !important;
                font-size: 22px !important;
                line-height: 31px !important;
            }
        }
    }

    .content-submit {
        margin: 20px 0px 30px;
        text-align: center;

        .button-submit {
            font-size: 14px;
            padding: 10px 45px;
        }
    }
}

.page-workroom-publishing {
    .page-header-title {
        margin-bottom: 30px;
    }

    .pub-title {
        margin-bottom: 15px;

        h1 {
            color: #444;
            font-family: 'UthongBold', serif;
            font-size: 34px;
            font-weight: normal;
            line-height: normal;
            margin: 0px;
        }
    }

    .cover {
        float: left;

        .no_cover {
            background-color: #DDD;
            color: #555;
            font-family: 'QuarkLight', sans-serif;
            font-size: 36px;
            line-height: 249px;
            height: 250px;
            text-align: center;
            width: 250px;
        }
    }

    .right {
        margin-left: 270px;

        label {
            color: #555;
            font-size: 16px;
            margin-bottom: 7px;
        }
    }

    .pub-type {
        margin-bottom: 20px;
    }

    .pub-price {
        margin-bottom: 20px;

        input {
            text-align: right;
            width: 60px;
        }

        .unit {
            color: #555;
            margin-left: 8px;
        }
    }

    .pub-summary {
        textarea {
            height: 100px;
            width: 98%;
        }
    }
}

.page-settings {
    .settings-nav {
        float: left;
        padding-top: 30px;
        width: 180px;

        ul {
            background-color: #EEE;
            margin: 0px;
        }

        li {
            list-style: none;

            a {
                color: #555;
                display: block;
                font-size: 14px;
                padding: 10px 0px 10px 15px;
                width: 165px;
                position: relative;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.active {
                a {
                    background-color: #666;
                    border-bottom: none;
                    color: #FFF;
                }

                a:after {
                    left: 100%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                a:after {
                    border-color: rgba(83, 107, 121, 0);
                    border-left-color: #666;
                    border-width: 20px;
                    top: 50%;
                    margin-top: -20px;
                }
            }
        }
    }

    .settings-content {
        margin-left: 230px;
        padding-top: 30px;
    }
}