body,
html {
  background-color: #f2f2e9;
}
em {
  font-style: normal;
}
.placeholder {
  color: #aaa;
}
.btn {
  font-size: 12px;
}
[class^="icon-"],
[class*=" icon-"] {
  vertical-align: -2px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: inherit;
  border-color: #cccccc;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu {
  border-radius: 2px;
}
.dropdown-menu li a {
  font-size: 0.9em;
}
.dropdown-menu li.divider {
  margin: 7px 1px;
}
.form-actions {
  background-color: transparent;
  border: none;
  padding: 0px;
}
.form-actions .btn {
  font-size: 13px;
  margin-right: 15px;
  padding: 8px 30px;
}
.btn-dark {
  background-color: #6e6e6e !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878787", endColorstr="#6d6d6d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#878787), to(#6d6d6d));
  background-image: -moz-linear-gradient(top, #878787, #6d6d6d);
  background-image: -ms-linear-gradient(top, #878787, #6d6d6d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878787), color-stop(100%, #6d6d6d));
  background-image: -webkit-linear-gradient(top, #878787, #6d6d6d);
  background-image: -o-linear-gradient(top, #878787, #6d6d6d);
  background-image: linear-gradient(#878787, #6d6d6d);
  border-color: #6d6d6d #6d6d6d #676767;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}
.btn-green {
  background-color: #1d7c72 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2ab5a7", endColorstr="#1d7b72");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2ab5a7), to(#1d7b72));
  background-image: -moz-linear-gradient(top, #2ab5a7, #1d7b72);
  background-image: -ms-linear-gradient(top, #2ab5a7, #1d7b72);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2ab5a7), color-stop(100%, #1d7b72));
  background-image: -webkit-linear-gradient(top, #2ab5a7, #1d7b72);
  background-image: -o-linear-gradient(top, #2ab5a7, #1d7b72);
  background-image: linear-gradient(#2ab5a7, #1d7b72);
  border-color: #1d7b72 #1d7b72 #1a6d65;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}
.btn-orange {
  background-color: #c04e11 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec6f2b", endColorstr="#c04e10");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ec6f2b), to(#c04e10));
  background-image: -moz-linear-gradient(top, #ec6f2b, #c04e10);
  background-image: -ms-linear-gradient(top, #ec6f2b, #c04e10);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec6f2b), color-stop(100%, #c04e10));
  background-image: -webkit-linear-gradient(top, #ec6f2b, #c04e10);
  background-image: -o-linear-gradient(top, #ec6f2b, #c04e10);
  background-image: linear-gradient(#ec6f2b, #c04e10);
  border-color: #c04e10 #c04e10 #b0480f;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}
form ul.errorlist {
  list-style: none;
  margin: 0px 0px 5px;
  color: #C30;
}
form .help-block {
  color: #666;
  font-size: 0.9em;
  margin: 3px 0px 0px;
}
form.form legend {
  color: #444;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0px;
  padding-bottom: 6px;
}
form.form .control-group {
  margin-bottom: 20px;
}
form.form .control-group label.control-label {
  color: #444;
  display: inline;
  font-weight: bold;
}
form.form .control-group label.control-label .required {
  color: #777;
  font-weight: normal;
}
form.form .control-group input {
  margin: 0px;
}
form.form .control-group .controls {
  margin-top: 4px;
}
form.form .avatar-controls {
  margin-bottom: 25px;
}
form.form .avatar-controls img.avatar {
  border: 1px solid #999;
  float: left;
}
form.form .avatar-controls .tools {
  margin-left: 100px;
}
form.form .avatar-controls .tools input {
  margin-bottom: 5px;
}
form.form .avatar-controls .tools .delete-tool {
  margin-top: 5px;
}
form.form .avatar-controls .errorlist {
  margin-left: 100px;
  margin-top: 5px;
}
@font-face {
  font-family: 'QuarkBold';
  src: url('../fonts/quark/quark-bold-webfont.eot');
  src: url('../fonts/quark/quark-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quark/quark-bold-webfont.woff') format('woff'), url('../fonts/quark/quark-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuarkLight';
  src: url('../fonts/quark/quark-light-webfont.eot');
  src: url('../fonts/quark/quark-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quark/quark-light-webfont.woff') format('woff'), url('../fonts/quark/quark-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/opensans/OpenSans-Light-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('../fonts/opensans/OpenSans-LightItalic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-LightItalic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans/OpenSans-Italic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/opensans/OpenSans-Bold-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url('../fonts/opensans/OpenSans-BoldItalic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-BoldItalic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtrabold';
  src: url('../fonts/opensans/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChiangSaenBold';
  src: url('../fonts/chiangsaen/tf_chiangsaen_bol-webfont.eot');
  src: url('../fonts/chiangsaen/tf_chiangsaen_bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/chiangsaen/tf_chiangsaen_bol-webfont.woff') format('woff'), url('../fonts/chiangsaen/tf_chiangsaen_bol-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChiangSaenItalic';
  src: url('../fonts/chiangsaen/tf_chiangsaen_ita-webfont.eot');
  src: url('../fonts/chiangsaen/tf_chiangsaen_ita-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/chiangsaen/tf_chiangsaen_ita-webfont.woff') format('woff'), url('../fonts/chiangsaen/tf_chiangsaen_ita-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChiangSaenRegular';
  src: url('../fonts/chiangsaen/tf_chiangsaen-webfont.eot');
  src: url('../fonts/chiangsaen/tf_chiangsaen-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/chiangsaen/tf_chiangsaen-webfont.woff') format('woff'), url('../fonts/chiangsaen/tf_chiangsaen-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularBold';
  src: url('../fonts/circular/circularbold-webfont.eot');
  src: url('../fonts/circular/circularbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/circular/circularbold-webfont.woff') format('woff'), url('../fonts/circular/circularbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularRegular';
  src: url('../fonts/circular/circular-webfont.eot');
  src: url('../fonts/circular/circular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/circular/circular-webfont.woff') format('woff'), url('../fonts/circular/circular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansLiteRegular';
  src: url('../fonts/thaisanslite/thaisanslite_r1-webfont.eot');
  src: url('../fonts/thaisanslite/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisanslite/thaisanslite_r1-webfont.woff') format('woff'), url('../fonts/thaisanslite/thaisanslite_r1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PimpakarnRegular';
  src: url('../fonts/pimpakarn/tf_pimpakarn-webfont.eot');
  src: url('../fonts/pimpakarn/tf_pimpakarn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pimpakarn/tf_pimpakarn-webfont.woff') format('woff'), url('../fonts/pimpakarn/tf_pimpakarn-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PimpakarnBold';
  src: url('../fonts/pimpakarn/tf_pimpakarn_bol-webfont.eot');
  src: url('../fonts/pimpakarn/tf_pimpakarn_bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pimpakarn/tf_pimpakarn_bol-webfont.woff') format('woff'), url('../fonts/pimpakarn/tf_pimpakarn_bol-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UthongRegular';
  src: url('../fonts/uthong/tf_uthong-webfont.eot');
  src: url('../fonts/uthong/tf_uthong-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/uthong/tf_uthong-webfont.woff') format('woff'), url('../fonts/uthong/tf_uthong-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UthongItalic';
  src: url('../fonts/uthong/tf_uthong_ita-webfont.eot');
  src: url('../fonts/uthong/tf_uthong_ita-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/uthong/tf_uthong_ita-webfont.woff') format('woff'), url('../fonts/uthong/tf_uthong_ita-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UthongBold';
  src: url('../fonts/uthong/tf_uthong_bol-webfont.eot');
  src: url('../fonts/uthong/tf_uthong_bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/uthong/tf_uthong_bol-webfont.woff') format('woff'), url('../fonts/uthong/tf_uthong_bol-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SuperMarketRegular';
  src: url('../fonts/supermarket/supermarket-webfont.eot');
  src: url('../fonts/supermarket/supermarket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/supermarket/supermarket-webfont.woff') format('woff'), url('../fonts/supermarket/supermarket-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#body-top {
  background: url(../images/ui/bg-green.png) repeat;
  border-bottom: 1px solid #3ea59b;
  height: 60px;
}
#body-top .container {
  position: relative;
  text-align: right;
}
#body-top .container .logo {
  float: left;
  margin-top: 18px;
}
#body-top .container .navigation {
  border-left: 1px solid #379389;
  border-right: 1px solid #73bcb5;
  display: inline-block;
  margin: 0px;
  position: absolute;
  right: 455px;
  top: 0px;
}
#body-top .container .navigation li {
  float: left;
  list-style: none;
}
#body-top .container .navigation li a {
  border-left: 1px solid #73bcb5;
  border-right: 1px solid #379389;
  color: #EEE;
  font-family: 'QuarkLight', sans-serif;
  font-size: 21px;
  display: inline-block;
  line-height: 55px;
  padding: 5px 20px 0px;
}
#body-top .container .registration {
  float: right;
  margin-top: 11px;
  padding: 5px 10px;
}
#body-top .container .registration a {
  color: #FFF;
  font-size: 13px;
  margin: 0px 10px;
}
#body-top .container .registration a:hover {
  text-decoration: underline;
}
#body-top .container .account {
  float: right;
  margin-left: 30px;
  padding-top: 14px;
}
#body-top .container .account .avatar img {
  border-radius: 30px;
}
#body-top .container .account .menu {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}
#body-top .container .account .menu .caret {
  border-top-color: #555;
  border-bottom-color: #555;
  margin-top: -1px;
  vertical-align: middle;
}
#body-responsive #body-header .logo {
  padding: 60px 0px 20px;
  text-align: center;
}
#body-responsive #body-header .logo em {
  color: #666;
  display: block;
  font-family: 'QuarkLight', sans-serif;
  font-size: 20px;
  margin-top: 15px;
}
#body-page .page-header-title {
  padding: 5px 0px 0px;
}
#body-page .page-header-title h1 {
  color: #444;
  font-family: 'ChiangSaenRegular', serif;
  float: left;
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
  text-shadow: 1px 1px 0px #EEE;
}
#body-page .page-header-title .page-breadcrumb {
  margin: 10px 0px 0px;
}
#body-page .page-header-title .page-breadcrumb li {
  display: inline-block;
  list-style: none;
}
#body-page .page-header-title .page-breadcrumb li a {
  color: #EEE;
  font-size: 13px;
  text-decoration: underline;
}
#body-page .page-header-title .page-breadcrumb li .divider {
  color: #DDD;
  margin: 0px 4px;
}
#body-page .page-stats {
  margin-bottom: 10px;
}
#body-page .page-stats .stat_bar {
  border-bottom: 1px solid #DDD;
  padding: 10px 0px;
}
#body-page .page-stats .stat_bar .stat {
  border-right: 1px solid #EEE;
  float: left;
  margin-right: 15px;
  padding-right: 25px;
}
#body-page .page-stats .stat_bar .stat .title {
  color: #444;
  font-size: 15px;
  margin: 5px 0px 10px;
}
#body-page .page-stats .stat_bar .stat .number {
  color: #666;
  font-size: 15px;
}
#body-page .page-stats .stat_bar .stat .number em {
  color: #444;
  font-size: 26px;
  font-weight: bold;
  margin-right: 5px;
}
#body-page .page-stats .stat_bar .stat .number a {
  color: #555;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-top: 3px;
  text-decoration: underline;
}
#body-page .page-stats .stat_bar .stat .number a:hover {
  background-color: #308ab0;
  color: #FFF;
}
#body-page .page-stats .stat_footer {
  margin-top: 8px;
  text-align: right;
}
#body-page .page-stats .stat_footer .weekly {
  color: #888;
  font-size: 13px;
}
#body-page .page-stats .stat_footer .separator {
  color: #BBB;
  margin: 0px 6px;
}
#body-page .page-stats .stat_footer a {
  font-size: 13px;
}
#body-page .page-stats .stat_footer a:link,
#body-page .page-stats .stat_footer a:active,
#body-page .page-stats .stat_footer a:visited {
  color: #555;
  text-decoration: underline;
}
#body-page .page-stats .stat_footer a:hover {
  background-color: #308ab0;
  color: #FFF;
  text-shadow: none;
}
#body-page .page-actions .btn {
  font-size: 14px;
  padding: 7px 45px;
}
#body-page .page-style-content-title {
  border-bottom: 1px solid #DDD;
  color: #777;
  font-family: 'QuarkLight', sans-serif;
  font-size: 24px;
  margin-top: 30px;
  padding-bottom: 8px;
}
#body-footer {
  text-align: center;
}
#body-footer .social {
  margin-top: 15px;
  text-align: center;
}
#body-footer .social a {
  background: url(../images/ui/link.socials.png) no-repeat;
  display: inline-block;
  height: 32px;
  margin: 0px 5px;
  text-indent: -9999px;
  width: 32px;
}
#body-footer .social a.facebook {
  background-position: 0px 0px;
}
#body-footer .social a.facebook:hover {
  background-position: 0px -32px;
}
#body-footer .social a.twitter {
  background-position: -32px 0px;
}
#body-footer .social a.twitter:hover {
  background-position: -32px -32px;
}
#body-footer .links {
  margin-top: 10px;
}
#body-footer .links a {
  font-size: 13px;
}
#body-footer .links a:link,
#body-footer .links a:active,
#body-footer .links a:visited {
  color: #308ab0;
  text-decoration: underline;
}
#body-footer .links a:hover {
  background-color: #308ab0;
  color: #FFF;
  text-shadow: none;
}
#body-footer .links .separator {
  color: #CCC;
  margin: 0px 7px;
}
#body-footer .copyright {
  color: #777;
  font-size: 12px;
  margin-top: 5px;
}
.page-single .logo {
  margin: 0px auto;
  padding-top: 45px;
  text-align: center;
}
.style-page-header {
  border-bottom: 1px solid #F7F7F7;
  padding: 25px 0px 0px;
}
.style-page-header h1 {
  border-bottom: 1px solid #d9d9c3;
  color: #444;
  font-family: 'QuarkBold', sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
  margin: 0px;
  padding-left: 48px;
  text-shadow: 1px 1px 0px #FFF;
}
.style-story {
  padding: 0px;
  width: 360px;
}
.style-story .story-box {
  background-color: #f7f7f7;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #CCC;
}
.style-story .cover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.style-story .cover img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 140px;
  width: 360px;
}
.style-story .details {
  padding: 15px 15px 10px;
}
.style-story .details .type {
  color: #3ea59b;
  font-size: 13px;
}
.style-story .details .title {
  margin-top: 12px;
}
.style-story .details .title a {
  color: #444;
  font-family: 'UthongBold', serif;
  font-size: 26px;
}
.style-story .details .summary {
  color: #555;
  font-family: 'ChiangSaenRegular', sans-serif;
  font-size: 21px;
  line-height: 27px;
  margin-top: 10px;
}
.style-story .details .author {
  margin-top: 10px;
}
.style-story .details .author .avatar {
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
  width: 40px;
}
.style-story .details .author .avatar img {
  border-radius: 40px;
}
.style-story .details .author .name {
  display: inline-block;
  color: #444;
  font-family: 'UthongRegular';
  font-size: 22px;
  vertical-align: middle;
}
.style-story .footer {
  border-top: 1px dashed #DDD;
}
.style-story .footer .buy {
  float: left;
  padding: 15px;
}
.style-story .footer .buy .button-buy {
  font-size: 13px;
  padding: 6px 20px;
  vertical-align: middle;
}
.style-story .footer .recommends {
  float: right;
  padding: 23px 15px 0px 0px;
  text-align: right;
}
.style-story .footer .recommends span {
  color: #444;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}
.style-story .footer .recommends .number a {
  color: #555;
  font-size: 13px;
  font-weight: bold;
}
.style-story .footer .recommends .faces {
  margin-top: 4px;
}
.style-story .extra {
  margin-top: 10px;
}
.style-story .extra .friend {
  color: #555;
  font-size: 13px;
  font-weight: bold;
}
.style-story .extra .friend a {
  margin-right: 5px;
}
.style-story .extra .friend a img {
  border-radius: 30px;
  height: 30px;
  margin-left: 3px;
  width: 30px;
}
.style-shelf-story {
  padding: 0px;
  width: 315px;
}
.style-shelf-story .story-box {
  background-color: #f7f7f7;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 0px #999;
}
.style-shelf-story .cover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.style-shelf-story .cover img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 98px;
  width: 315px;
}
.style-shelf-story .details {
  padding: 10px 12px 10px;
}
.style-shelf-story .details .action {
  float: right;
}
.style-shelf-story .details .action a {
  line-height: 18px;
  padding: 0px 6px;
}
.style-shelf-story .details .type {
  color: #3ea59b;
  font-size: 12px;
}
.style-shelf-story .details .title {
  margin-top: 5px;
}
.style-shelf-story .details .title a {
  color: #444;
  font-family: 'UthongBold', serif;
  font-size: 22px;
}
.style-shelf-story .details .author {
  margin-top: 5px;
}
.style-shelf-story .details .author .name {
  display: inline-block;
  color: #666;
  font-family: 'UthongRegular';
  font-size: 20px;
  vertical-align: middle;
}
.page-homepage #body-top {
  border-bottom: none;
}
.page-homepage .block-title {
  background: url(../images/ui/bg-green.png) repeat;
  border-bottom: 1px solid #73bcb5;
  padding: 40px 0px 55px;
}
.page-homepage .block-title h1 {
  color: #FFF;
  font-family: 'QuarkLight', sans-serif;
  font-size: 54px;
  font-weight: normal;
  line-height: normal;
  margin: 0px;
  text-align: center;
  text-shadow: -1px -1px 0px #888888;
}
.page-homepage .block-title .subtitle {
  color: #FFF;
  font-family: 'QuarkLight', sans-serif;
  font-size: 34px;
  margin: 20px 0px 0px;
  text-align: center;
  text-shadow: -1px -1px 0px #888888;
}
.page-homepage .block-title .keys {
  margin: 50px auto 0px;
  text-align: center;
}
.page-homepage .block-title .keys li {
  display: inline-block;
  list-style: none;
  padding-top: 75px;
  width: 200px;
}
.page-homepage .block-title .keys li .caption {
  color: #FFF;
  font-family: 'QuarkLight', sans-serif;
  font-size: 26px;
  text-shadow: -1px -1px 0px #888888;
}
.page-homepage .block-title .keys .reading {
  background: url(../images/page/home/key-reading.png) center top no-repeat;
  border-right: 1px solid #379389;
}
.page-homepage .block-title .keys .price {
  background: url(../images/page/home/key-price.png) center top no-repeat;
  border-left: 1px solid #73bcb5;
  border-right: 1px solid #379389;
}
.page-homepage .block-title .keys .conversation {
  background: url(../images/page/home/key-conversation.png) center top no-repeat;
  border-left: 1px solid #73bcb5;
}
.page-homepage .block-signup {
  background-color: #F7F7F7;
  border-bottom: 1px solid #D9D9C3;
  border-top: 1px solid #379389;
  padding: 60px 0px;
  text-align: center;
}
.page-homepage .block-signup .title {
  color: #555;
  font-family: 'QuarkLight', sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 0px #FFF;
}
.page-homepage .block-signup .buttons .facebook {
  background: url(../images/ui/login.socials.en.png) 0px 0px no-repeat;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 230px;
  margin: 0px 10px;
}
.page-homepage .block-signup .buttons .facebook:hover {
  background-position: -230px 0px;
}
.page-homepage .block-signup .buttons .twitter {
  background: url(../images/ui/login.socials.en.png) 0px -40px no-repeat;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 230px;
  margin: 0px 10px;
}
.page-homepage .block-signup .buttons .twitter:hover {
  background-position: -230px -40px;
}
.page-homepage .block-writers {
  background-color: #FFF;
  padding: 0px 0px 80px;
}
.page-homepage .block-writers .stat {
  color: #555;
  font-family: 'QuarkLight', sans-serif;
  font-size: 28px;
  text-align: center;
}
.page-homepage .block-writers .stat em {
  font-family: 'QuarkBold', sans-serif;
}
.page-homepage .block-writers .writers {
  margin: 40px 0px 0px;
  text-align: center;
}
.page-homepage .block-writers .writers .writer {
  display: inline-block;
  list-style: none;
  width: 190px;
}
.page-homepage .block-writers .writers .writer .avatar img {
  border: 7px solid #FFF;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  box-shadow: 1px 1px 1px #BBB;
}
.page-homepage .block-writers .writers .writer .name {
  margin-top: 14px;
}
.page-homepage .block-writers .writers .writer .name a {
  color: #444;
  font-size: 16px;
  font-weight: bold;
}
.page-homepage .block-stories {
  background-color: #f2f2e9;
  border-top: 1px solid #FFF;
  padding-top: 60px;
}
.page-homepage .block-stories h2 {
  color: #444;
  font-family: 'QuarkLight', sans-serif;
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 20px;
  text-shadow: 1px 1px 0px #FFF;
}
.page-homepage .block-stories ul {
  margin: 0px;
}
.page-homepage .block-stories li.style-story {
  float: left;
  list-style: none;
  margin-bottom: 35px;
}
.page-homepage .block-stories li.story-center {
  margin-left: 30px;
  margin-right: 30px;
}
.page-registration {
  padding-top: 30px;
}
.page-registration h1 {
  color: #555;
  font-family: 'QuarkLight', sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 10px;
  text-align: center;
}
.page-registration .title {
  color: #e93b5f;
  font-family: 'QuarkLight', sans-serif;
  font-size: 54px;
  font-weight: normal;
  line-height: normal;
  margin: 0px 0px 20px 0px;
  text-align: center;
}
.page-registration .subtitle {
  color: #666;
  font-family: 'QuarkLight', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: normal;
  margin: 0px 0px 20px 0px;
  text-align: center;
}
.page-registration .registration {
  background-color: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0px 0px 2px #EEE;
  border-radius: 5px;
  margin: 0px auto;
  padding-bottom: 30px;
  width: 600px;
}
.page-registration .registration .social {
  padding-top: 35px;
  text-align: center;
}
.page-registration .registration .social .facebook {
  background: url(../images/ui/login.socials.en.png) 0px 0px no-repeat;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 230px;
}
.page-registration .registration .social .facebook:hover {
  background-position: -230px 0px;
}
.page-registration .registration .social .twitter {
  background: url(../images/ui/login.socials.en.png) 0px -40px no-repeat;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 230px;
  margin-top: 25px;
}
.page-registration .registration .social .twitter:hover {
  background-position: -230px -40px;
}
.page-registration .registration .or {
  line-height: 10px;
  margin-top: 30px;
  text-align: center;
}
.page-registration .registration .or hr {
  border: none;
  border-bottom: 1px solid #EEE;
  margin: 5px 0px;
}
.page-registration .registration .or span {
  background-color: #FFF;
  color: #999;
  font-size: 13px;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  top: -13px;
}
.page-registration .registration .text-input {
  margin-top: 10px;
}
.page-registration .registration .text-input input {
  text-align: center;
  width: 250px;
}
.page-registration .registration .button {
  margin-top: 10px;
}
.page-registration .registration .button .btn {
  color: #555;
  font-size: 14px;
  height: 40px;
  vertical-align: middle;
  width: 180px;
}
.page-registration .registration .button .cancel {
  color: #888;
  font-size: 13px;
  margin-left: 10px;
  text-decoration: underline;
  vertical-align: middle;
}
.page-registration .registration .button .cancel:hover {
  background-color: #308ab0;
  color: #FFF;
}
.page-registration .registration .email {
  margin-top: 15px;
  text-align: center;
}
.page-registration .registration .activation {
  margin-top: 35px;
  text-align: center;
}
.page-registration .registration .activation label {
  color: #e93b5f;
  font-family: 'QuarkLight', sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
}
.page-registration .registration .activation .text-input {
  margin-bottom: 30px;
}
.page-registration .registration .activation .name-input input {
  font-size: 16px;
  height: 27px;
  width: 350px;
}
.page-registration .registration .activation .avatar-input {
  margin-bottom: 30px;
}
.page-registration .registration .signup {
  text-align: center;
}
.page-registration .registration .signup a {
  color: #555;
}
.page-registration .registration .signup a:link,
.page-registration .registration .signup a:active,
.page-registration .registration .signup a:visited {
  color: #308ab0;
  text-decoration: underline;
}
.page-registration .registration .signup a:hover {
  background-color: #308ab0;
  color: #FFF;
  text-shadow: none;
}
.page-publication-view {
  /*
    .headline {
        line-height: 12px;
        margin: 35px auto 0px;
        text-align: center;

        hr {
            border: none;
            border-bottom: 1px solid #CCC;

            margin: 5px 0px;
            padding: 0px 100px;
        }

        h2 {
            background-color: @backgroundColor;
            color: #555;
            display: inline-block;
            font-family: 'QuarkLight', sans-serif;
            font-size: 32px;
            font-weight: normal;
            margin: 0px;
            padding: 0 15px;
            position: relative;
            text-shadow: 1px 1px 0px #FFF;
            top: -25px;
        }
    }*/

}
.page-publication-view .this-story {
  background-color: #f7f7f7;
  border-bottom: 1px solid #DDD;
  padding: 20px 0px 60px;
}
.page-publication-view .this-story .cover {
  margin-bottom: 25px;
}
.page-publication-view .this-story .cover img {
  height: 230px;
  width: 1170px;
}
.page-publication-view .this-story .title {
  margin-left: 200px;
}
.page-publication-view .this-story .title .type {
  color: #3ea59b;
  font-size: 15px;
}
.page-publication-view .this-story .title h1 {
  color: #444;
  font-family: 'UthongBold', serif;
  font-size: 38px;
  font-weight: normal;
  line-height: normal;
  margin: 5px 0px 10px;
  text-shadow: 1px 1px 0px #FFF;
}
.page-publication-view .this-story .blocks .block-author {
  float: left;
  width: 200px;
}
.page-publication-view .this-story .blocks .block-story {
  float: left;
  padding-right: 30px;
  width: 700px;
}
.page-publication-view .this-story .blocks .block-tools {
  float: left;
  width: 240px;
}
.page-publication-view .this-story .author {
  text-align: center;
}
.page-publication-view .this-story .author .avatar {
  margin: 0px auto;
}
.page-publication-view .this-story .author .avatar img {
  border-radius: 70px;
  height: 70px;
  width: 70px;
}
.page-publication-view .this-story .author .name {
  margin-top: 15px;
}
.page-publication-view .this-story .author .name a {
  color: #444;
  font-family: 'UthongRegular';
  font-size: 22px;
}
.page-publication-view .this-story .summary {
  color: #444;
  font-family: 'ChiangSaenRegular', sans-serif;
  font-size: 24px;
  line-height: 34px;
}
.page-publication-view .this-story .published {
  border-left: 3px solid #BBB;
  margin-top: 15px;
  padding-left: 10px;
  color: #666;
}
.page-publication-view .this-story .buy a {
  border-radius: 4px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0px 6px;
  text-align: center;
}
.page-publication-view .this-story .buy a em {
  display: block;
  font-weight: bold;
}
.page-publication-view .this-story .buy .button-buy {
  background-color: #e06545;
  box-shadow: 0px 4px 0px #b04529;
  color: #FFF;
}
.page-publication-view .this-story .buy .button-buy:hover {
  background-color: #dd532f;
  text-decoration: none;
}
.page-publication-view .this-story .buy .or {
  line-height: 12px;
  margin: 35px auto 0px;
  text-align: center;
  width: 220px;
}
.page-publication-view .this-story .buy .or hr {
  border: none;
  border-bottom: 1px solid #DDD;
  margin: 5px 0px;
}
.page-publication-view .this-story .buy .or span {
  background-color: #F7F7F7;
  color: #666;
  font-size: 12.5px;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  top: -13px;
}
.page-publication-view .this-story .buy .button-gift {
  background-color: #E3E3E3;
  box-shadow: 0px 4px 0px #AAA;
  color: #555;
}
.page-publication-view .this-story .buy .button-gift:hover {
  background-color: #D6D6D6;
  text-decoration: none;
}
.page-publication-view .this-story .metadata {
  margin-top: 30px;
}
.page-publication-view .this-story .metadata .info {
  color: #555;
  font-size: 14px;
  margin-bottom: 6px;
  text-align: right;
}
.page-publication-view .expression {
  background-color: #f7f7f7;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #FFF;
  padding: 40px 0px;
}
.page-publication-view .expression .expression-number {
  background: url(../images/112-statistics-chart.png) no-repeat;
  float: left;
  margin-right: 50px;
  padding-left: 45px;
  vertical-align: top;
  width: 455px;
}
.page-publication-view .expression .expression-number .primary-stat {
  border-bottom: 3px solid #CCC;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.page-publication-view .expression .expression-number .primary-stat .number {
  color: #444;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  margin-right: 7px;
  text-shadow: 1px 1px 0px #F7F7F7;
}
.page-publication-view .expression .expression-number .primary-stat .text {
  color: #555;
  display: inline-block;
  font-size: 16px;
  text-shadow: 1px 1px 0px #F7F7F7;
}
.page-publication-view .expression .expression-number .primary-stat .text em {
  color: #444;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}
.page-publication-view .expression .expression-number .stat {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  vertical-align: middle;
}
.page-publication-view .expression .expression-number .stat .icon {
  vertical-align: middle;
}
.page-publication-view .expression .expression-number .stat span {
  color: #666;
  font-size: 22px;
  text-shadow: 1px 1px 0px #F7F7F7;
  vertical-align: middle;
}
.page-publication-view .expression .expression-number .stat span em {
  color: #666;
  font-size: 24px;
  font-weight: bold;
}
.page-publication-view .expression .expression-text {
  float: left;
  width: 620px;
}
.page-publication-view .expression .expression-text ul {
  margin: 0px;
}
.page-publication-view .expression .expression-text ul li {
  list-style: none;
}
.page-publication-view .expression .expression-text ul li .avatar {
  display: block;
  float: left;
  margin-top: 4px;
}
.page-publication-view .expression .expression-text ul li .avatar img {
  border-radius: 40px;
  height: 40px;
  width: 40px;
}
.page-publication-view .expression .expression-text ul li .review {
  background-color: #F4F4F4;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #444;
  font-size: 15px;
  line-height: 27px;
  margin-left: 60px;
  padding: 10px 15px;
  position: relative;
}
.page-publication-view .expression .expression-text ul li .review:after,
.page-publication-view .expression .expression-text ul li .review:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.page-publication-view .expression .expression-text ul li .review:after {
  border-color: rgba(244, 244, 244, 0);
  border-right-color: #F4F4F4;
  border-width: 10px;
  top: 25px;
  margin-top: -10px;
}
.page-publication-view .expression .expression-text ul li .review:before {
  border-color: rgba(204, 204, 204, 0);
  border-right-color: #cccccc;
  border-width: 11px;
  top: 25px;
  margin-top: -11px;
}
.page-publication-view .convincing .social {
  background: url(../images/basic2-225.png) no-repeat;
  display: inline-block;
  padding-left: 45px;
  vertical-align: top;
}
.page-publication-view h2 {
  color: #444;
  font-family: 'QuarkLight', sans-serif;
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 20px;
  text-shadow: 1px 1px 0px #F7F7F7;
  text-align: center;
}
.page-publication-view .excerpt {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d9d9c3;
  border-top: 1px solid #FFF;
  padding: 40px 0px 70px;
}
.page-publication-view .excerpt .excerpt-box {
  background-color: #F7F7F7;
  margin: 0px auto;
  width: 750px;
}
.page-publication-view .excerpt .excerpt-box p {
  color: #444;
  font-family: 'ChiangSaenRegular', sans-serif;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 15px;
}
.page-publication-view ul.stories {
  margin: 0px;
}
.page-publication-view ul.stories li.style-story {
  float: left;
  list-style: none;
}
.page-publication-view ul.stories li.story-left {
  margin: 0px 70px 35px 100px;
}
.page-publication-view ul.stories li.story-right {
  margin: 0px 100px 35px 0px;
}
.page-publication-view .authored-stories {
  background-color: #f2f2e9;
  border-bottom: 1px solid #d9d9c3;
  border-top: 1px solid #F7F7F7;
  padding: 40px 0px 0px;
}
.page-publication-view .similar-stories {
  background-color: #f2f2e9;
  border-bottom: 1px solid #d9d9c3;
  border-top: 1px solid #F7F7F7;
  padding: 40px 0px 0px;
}
.page-publication-read {
  background-color: #f7f7f7;
  border-bottom: 1px solid #DDD;
  padding: 20px 0px 0px;
}
.page-publication-read .reading-blocks .cover {
  margin-bottom: 35px;
}
.page-publication-read .reading-blocks .cover img {
  height: 230px;
  width: 1170px;
}
.page-publication-read .reading-blocks .left {
  float: left;
  width: 185px;
}
.page-publication-read .reading-blocks .left .arrow_box {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  color: #555;
  display: inline-block;
  font-size: 13px;
  line-height: 39px;
  height: 40px;
  padding: 0px 20px 0px 10px;
  position: relative;
}
.page-publication-read .reading-blocks .left .arrow_box:after,
.page-publication-read .reading-blocks .left .arrow_box:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.page-publication-read .reading-blocks .left .arrow_box:after {
  border-color: rgba(247, 247, 247, 0);
  border-right-color: #f7f7f7;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.page-publication-read .reading-blocks .left .arrow_box:before {
  border-color: rgba(221, 221, 221, 0);
  border-right-color: #dddddd;
  border-width: 21px;
  top: 50%;
  margin-top: -21px;
}
.page-publication-read .reading-blocks .center {
  float: left;
  width: 800px;
}
.page-publication-read .reading-blocks .right {
  float: left;
  width: 185px;
}
.page-publication-read .reading-blocks .author {
  margin-bottom: 10px;
}
.page-publication-read .reading-blocks .author a {
  color: #666;
  font-family: 'UthongRegular';
  font-size: 22px;
}
.page-publication-read .reading-blocks h1 {
  color: #444;
  font-family: 'UthongBold', serif;
  font-size: 38px;
  font-weight: normal;
  line-height: normal;
  margin: 0px 0px 15px;
  text-shadow: 1px 1px 0px #FFF;
}
.page-publication-read .reading-blocks .content-container .content {
  color: #444;
  font-family: 'ChiangSaenRegular', sans-serif;
  font-size: 23px;
  line-height: 31px;
  margin-bottom: 20px;
}
.page-publication-read .reading-blocks .content-container .content p {
  margin-bottom: 20px;
}
.page-publication-read .reading-blocks .content-container .content p.first {
  text-indent: 50px;
}
.page-publication-read .reading-blocks .end {
  color: #777;
  font-size: 12px;
  margin-top: 40px;
  text-align: center;
}
.page-publication-read .feedback {
  margin: 0px auto;
  padding: 50px 0px;
  width: 800px;
}
.page-publication-read .feedback .write .title {
  color: #555;
  font-family: 'QuarkLight', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}
.page-publication-read .feedback .write .caption {
  color: #555;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
.page-publication-read .feedback .write .feeling {
  float: left;
}
.page-publication-read .feedback .write .feeling ul {
  float: left;
  margin: 0px 10px 0px 0px;
  width: 360px;
}
.page-publication-read .feedback .write .feeling ul li {
  background-color: #EEE;
  border-radius: 4px;
  float: left;
  list-style: none;
  margin: 0px 10px 10px 0px;
  padding: 0px 15px;
  height: 40px;
  width: 140px;
  color: #444;
  font-size: 14px;
}
.page-publication-read .feedback .write .feeling ul li label {
  line-height: 40px;
  vertical-align: middle;
}
.page-publication-read .feedback .write .feeling ul li input {
  margin: 0px 6px 2px 0px;
  vertical-align: middle;
}
.page-publication-read .feedback .write .note {
  float: left;
}
.page-publication-read .feedback .write .note textarea {
  height: 130px;
  width: 410px;
}
.page-publication-read .feedback .write .note .submit .counting {
  color: #666;
  float: right;
  font-size: 13px;
}
.page-publication-read .feedback .write .note .submit a {
  padding: 5px 35px;
}
.page-publication-read .next-reading {
  background-color: #f2f2e9;
  border-top: 1px solid #D9D9C3;
}
.page-publication-read .next-reading .next-container {
  border-top: 1px solid #F7F7F7;
  padding: 50px 0px;
}
.page-publication-read .next-reading h2 {
  color: #444;
  font-family: 'QuarkLight', sans-serif;
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 20px;
  text-shadow: 1px 1px 0px #F7F7F7;
}
.page-publication-read .next-reading ul.stories {
  margin: 0px;
}
.page-publication-read .next-reading ul.stories li.style-story {
  float: left;
  list-style: none;
  margin-bottom: 35px;
}
.page-publication-read .next-reading ul.stories li.story-center {
  margin-left: 30px;
  margin-right: 30px;
}
.page-shelves {
  background-color: #f2f2e9;
}
.page-shelves h1 {
  background: url(../images/header/header.shelves.png) no-repeat;
}
.page-shelves .panel-shelves {
  float: left;
  margin-top: 30px;
  width: 195px;
}
.page-shelves .panel-shelves .caption {
  color: #555;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 7px;
}
.page-shelves .panel-shelves ul {
  margin: 0px;
}
.page-shelves .panel-shelves ul li {
  border-top: 1px solid #DDD;
  list-style: none;
  padding: 10px 0px;
}
.page-shelves .panel-shelves ul li.shelf a {
  color: #444;
  font-size: 14px;
  float: left;
}
.page-shelves .panel-shelves ul li.shelf .unread {
  background-color: #3ea59b;
  border-radius: 4px;
  color: #FFF;
  display: inline-block;
  font-size: 11px;
  float: right;
  padding: 0px 5px;
}
.page-shelves .panel-shelves ul li.add {
  padding-top: 20px;
}
.page-shelves .panel-shelves ul li.add a {
  color: #444;
  font-size: 13px;
  font-weight: bold;
}
.page-shelves .panel-stories {
  margin-top: 30px;
  float: left;
  width: 975px;
}
.page-shelves .panel-stories ul.stories {
  margin: 0px;
}
.page-shelves .panel-stories ul.stories li.style-shelf-story {
  float: left;
  list-style: none;
  margin: 0px 0px 15px 10px;
}
.page-shelves .panel-stories ul.stories li.story-left {
  margin: 0px 0px 40px 0px;
}
.page-shelves .panel-stories ul.stories li.story-right {
  margin: 0px 0px 40px 0px;
}
.page-workroom ul.works {
  margin: 0px;
}
.page-workroom li.work {
  border-bottom: 1px dashed #DDD;
  list-style: none;
  margin-top: 20px;
  padding-bottom: 20px;
}
.page-workroom li.work .title a {
  color: #444;
  font-family: 'UthongRegular', serif;
  font-size: 32px;
}
.page-workroom li.work .tools {
  margin-top: 12px;
}
.page-workroom li.work .tools .btn {
  padding: 2px 20px;
}
.page-workroom li.work .footer {
  margin-top: 7px;
}
.page-workroom li.work .footer .status {
  color: #555;
  font-size: 13px;
}
.page-workroom li.work .footer .status em {
  font-weight: bold;
}
.page-workroom li.work .footer .status-published em {
  color: #3b9164;
}
.page-workroom li.work .footer .separator {
  color: #CCC;
  margin: 0px 7px;
}
.page-workroom li.work .footer .date {
  color: #666;
  font-size: 13px;
}
.page-workroom .works-box {
  margin-top: 30px;
}
.page-workroom .works-box .actions {
  float: right;
}
.page-workroom .works-box .actions .btn {
  width: 160px;
}
.page-workroom .works-box .works-title {
  border-bottom: 1px solid #DDD;
  color: #777;
  font-family: 'QuarkLight', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.page-workroom-writing .content-title {
  margin: 50px 0px 20px;
  text-align: center;
}
.page-workroom-writing .content-title .caption {
  color: #888;
  font-size: 15px;
}
.page-workroom-writing .content-title input {
  background-color: #f2f2e9;
  border: 1px solid #EEE;
  box-shadow: none;
  color: #444;
  font-family: 'UthongBold', serif;
  font-size: 34px;
  line-height: 45px;
  height: 50px;
  margin: 10px auto 20px;
  text-align: center;
  transition: none;
  width: 98%;
}
.page-workroom-writing .content-body-container {
  margin: 0px auto;
  width: 680px;
}
.page-workroom-writing .content-body-container .content-body p {
  color: #444;
  font-family: 'ChiangSaenRegular', sans-serif;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 15px;
}
.page-workroom-writing .content-body-container .redactor_toolbar {
  border: 1px solid #DDD;
  border-bottom: 1px solid #BBB;
}
.page-workroom-writing .content-body-container .redactor_box {
  background-color: #f2f2e9;
  border: none;
  font-family: 'ChiangSaenRegular', sans-serif;
}
.page-workroom-writing .content-body-container .redactor_box .redactor_editor,
.page-workroom-writing .content-body-container .redactor_box .redactor_editor:focus {
  background-color: #f2f2e9 !important;
  padding: 15px 0px !important;
}
.page-workroom-writing .content-body-container .redactor_box textarea {
  background-color: #f2f2e9;
}
.page-workroom-writing .content-body-container .redactor_editor p,
.page-workroom-writing .content-body-container .redactor_editor ul,
.page-workroom-writing .content-body-container .redactor_editor ol,
.page-workroom-writing .content-body-container .redactor_editor dl,
.page-workroom-writing .content-body-container .redactor_editor li {
  color: #444 !important;
  font-family: 'ChiangSaenRegular', sans-serif !important;
  font-size: 22px !important;
  line-height: 31px !important;
}
.page-workroom-writing .content-submit {
  margin: 20px 0px 30px;
  text-align: center;
}
.page-workroom-writing .content-submit .button-submit {
  font-size: 14px;
  padding: 10px 45px;
}
.page-workroom-publishing .page-header-title {
  margin-bottom: 30px;
}
.page-workroom-publishing .pub-title {
  margin-bottom: 15px;
}
.page-workroom-publishing .pub-title h1 {
  color: #444;
  font-family: 'UthongBold', serif;
  font-size: 34px;
  font-weight: normal;
  line-height: normal;
  margin: 0px;
}
.page-workroom-publishing .cover {
  float: left;
}
.page-workroom-publishing .cover .no_cover {
  background-color: #DDD;
  color: #555;
  font-family: 'QuarkLight', sans-serif;
  font-size: 36px;
  line-height: 249px;
  height: 250px;
  text-align: center;
  width: 250px;
}
.page-workroom-publishing .right {
  margin-left: 270px;
}
.page-workroom-publishing .right label {
  color: #555;
  font-size: 16px;
  margin-bottom: 7px;
}
.page-workroom-publishing .pub-type {
  margin-bottom: 20px;
}
.page-workroom-publishing .pub-price {
  margin-bottom: 20px;
}
.page-workroom-publishing .pub-price input {
  text-align: right;
  width: 60px;
}
.page-workroom-publishing .pub-price .unit {
  color: #555;
  margin-left: 8px;
}
.page-workroom-publishing .pub-summary textarea {
  height: 100px;
  width: 98%;
}
.page-transaction h1 {
  background: url(../images/header/header.transaction.png) no-repeat;
}
.page-settings .settings-nav {
  float: left;
  padding-top: 30px;
  width: 180px;
}
.page-settings .settings-nav ul {
  background-color: #EEE;
  margin: 0px;
}
.page-settings .settings-nav li {
  list-style: none;
}
.page-settings .settings-nav li a {
  color: #555;
  display: block;
  font-size: 14px;
  padding: 10px 0px 10px 15px;
  width: 165px;
  position: relative;
}
.page-settings .settings-nav li a:hover {
  text-decoration: underline;
}
.page-settings .settings-nav li.active a {
  background-color: #666;
  border-bottom: none;
  color: #FFF;
}
.page-settings .settings-nav li.active a:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.page-settings .settings-nav li.active a:after {
  border-color: rgba(83, 107, 121, 0);
  border-left-color: #666;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.page-settings .settings-content {
  margin-left: 230px;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .page-homepage .tagline .is {
    font-size: 20px;
    margin: 5px 0px;
  }
  .page-homepage .tagline h1 {
    font-size: 34px;
    margin: 5px 0px 0px;
  }
  .page-homepage .tagline h2 {
    font-size: 20px;
    margin: 2px;
  }
  .page-homepage .registration {
    margin: 30px auto 0px;
    width: 98%;
  }
  .page-homepage .registration h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .page-homepage .registration .social .facebook {
    display: block;
    margin: 10px auto;
  }
  .page-homepage .registration .social .twitter {
    display: block;
    margin: 10px auto;
  }
  .page-homepage .registration .or span {
    font-size: 10px;
    top: -14px;
  }
  .page-homepage .registration .email {
    text-align: center;
  }
  .page-homepage .registration .email .btn {
    color: #555;
    font-weight: bold;
    width: 160px;
  }
  .page-homepage .stories {
    width: 98%;
  }
  .page-homepage .stories li.style-story .story-container {
    padding: 0px 15px;
  }
  .page-homepage .stories li.style-story .head {
    margin-top: 15px;
  }
  .page-homepage .stories li.style-story .head .title {
    margin: 0px;
    text-align: center;
  }
  .page-homepage .stories li.style-story .head .title a {
    font-size: 24px;
  }
  .page-homepage .stories li.style-story .head .avatar {
    height: 50px;
    margin: 15px auto 10px;
    position: inherit;
    width: 50px;
  }
  .page-homepage .stories li.style-story .head .author {
    margin: 0px;
    text-align: center;
  }
  .page-homepage .stories li.style-story .head .author a {
    font-size: 21px;
  }
  .page-homepage .stories li.style-story .summary {
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
  }
  .page-homepage .stories li.style-story .category a {
    font-size: 12px;
    padding: 2px 10px;
  }
  .page-homepage .stories li.style-story .footer {
    height: auto;
  }
  .page-homepage .stories li.style-story .footer .left {
    margin: 0px;
    padding: 14px 0px 16px 100px;
  }
  .page-homepage .stories li.style-story .footer .right {
    float: none;
    margin-top: 0px;
  }
  .page-homepage .stories li.style-story .footer .button-purchase {
    font-size: 18px;
    margin: 0px;
    padding: 8px 40px 3px;
  }
  .page-homepage .stories li.style-story .footer .read-excerpt {
    display: inline-block;
    font-size: 13px;
    margin: 5px 0px 0px;
  }
  .page-homepage .stories li.style-story .footer .recommends {
    border: none;
    padding: 0px 10px 0px 10px;
  }
}
