#body-top {
    background: url(../images/ui/bg-green.png) repeat;
    border-bottom: 1px solid #3ea59b;
    height: 60px;

    .container {
        position: relative;
        text-align: right;

        .logo {
            float: left;
            margin-top: 18px;
        }

        .navigation {
            border-left: 1px solid #379389;
            border-right: 1px solid #73bcb5;
            display: inline-block;
            margin: 0px;
            position: absolute;
            right: 455px;
            top: 0px;

            li {
                float: left;
                list-style: none;

                a {
                    border-left: 1px solid #73bcb5;
                    border-right: 1px solid #379389;
                    color: #EEE;
                    font-family: 'QuarkLight', sans-serif;
                    font-size: 21px;
                    display: inline-block;
                    line-height: 55px;
                    padding: 5px 20px 0px;
                }
            }
        }

        .registration {
            float: right;
            margin-top: 11px;
            padding: 5px 10px;

            a {
                color: #FFF;
                font-size: 13px;
                margin: 0px 10px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .account {
            float: right;
            margin-left: 30px;
            padding-top: 14px;

            .avatar {
                img {
                    border-radius: 30px;
                }
            }

            .menu {
                display: inline-block;
                margin-left: 5px;
                vertical-align: middle;

                .caret {
                    border-top-color: #555;
                    border-bottom-color: #555;
                    margin-top: -1px;
                    vertical-align: middle;
                }
            }
        }
    }
}

#body-responsive {
    #body-header {
        .logo {
            padding: 60px 0px 20px;
            text-align: center;

            em {
                color: #666;
                display: block;
                font-family: 'QuarkLight', sans-serif;
                font-size: 20px;
                margin-top: 15px;
            }
        }
    }
}

#body-page {
    .page-header-title {
        //background: url(../images/ui/bg-green.png) repeat;
        padding: 5px 0px 0px;

        h1 {
            //color: #FFF;
            color: #444;
            font-family: 'ChiangSaenRegular', serif;
            float: left;
            font-size: 36px;
            font-weight: normal;
            line-height: normal;
            //text-shadow: -1px -1px 0px #888;
            text-shadow: 1px 1px 0px #EEE;
        }

        .page-breadcrumb {
            margin: 10px 0px 0px;

            li {
                display: inline-block;
                list-style: none;

                a {
                    color: #EEE;
                    font-size: 13px;
                    text-decoration: underline;
                }

                .divider {
                    color: #DDD;
                    margin: 0px 4px;
                }
            }
        }
    }

    .page-stats {
        margin-bottom: 10px;

        .stat_bar {
            border-bottom: 1px solid #DDD;
            padding: 10px 0px;

            .stat {
                border-right: 1px solid #EEE;
                float: left;
                margin-right: 15px;
                padding-right: 25px;

                .title {
                    color: #444;
                    font-size: 15px;
                    margin: 5px 0px 10px;
                }

                .number {
                    color: #666;
                    font-size: 15px;

                    em {
                        color: #444;
                        font-size: 26px;
                        font-weight: bold;
                        margin-right: 5px;
                    }

                    a {
                        color: #555;
                        font-size: 14px;
                        font-weight: bold;
                        display: inline-block;
                        margin-top: 3px;
                        text-decoration: underline;

                        &:hover {
                            background-color: @linkColor;
                            color: #FFF;
                        }
                    }
                }
            }
        }

        .stat_footer {
            margin-top: 8px;
            text-align: right;

            .weekly {
                color: #888;
                font-size: 13px;
            }

            .separator {
                color: #BBB;
                margin: 0px 6px;
            }

            a {
                .grey_link;
                font-size: 13px;
            }
        }
    }

    .page-actions {
        .btn {
            font-size: 14px;
            padding: 7px 45px;
        }
    }

    .page-style-content-title {
        border-bottom: 1px solid #DDD;
        color: #777;
        font-family: 'QuarkLight', sans-serif;
        font-size: 24px;
        margin-top: 30px;
        padding-bottom: 8px;
    }
}

#body-footer {
    text-align: center;

    .social {
        margin-top: 15px;
        text-align: center;

        a {
            background: url(../images/ui/link.socials.png) no-repeat;
            display: inline-block;
            height: 32px;
            margin: 0px 5px;
            text-indent: -9999px;
            width: 32px;

            &.facebook {
                background-position: 0px 0px;

                &:hover {
                    background-position: 0px -32px;
                }
            }

            &.twitter {
                background-position: -32px 0px;

                &:hover {
                    background-position: -32px -32px;
                }
            }
        }
    }

    .links {
        margin-top: 10px;

        a {
            .content_link;
            font-size: 13px;
        }

        .separator {
            color: #CCC;
            margin: 0px 7px;
        }
    }

    .copyright {
        color: #777;
        font-size: 12px;
        margin-top: 5px;
    }
}

.page-single {
    .logo {
        margin: 0px auto;
        padding-top: 45px;
        text-align: center;
    }
}

.style-page-header {
    border-bottom: 1px solid #F7F7F7;
    padding: 25px 0px 0px;

    h1 {
        border-bottom: 1px solid #d9d9c3;
        color: #444;
        font-family: 'QuarkBold', sans-serif;
        font-size: 36px;
        font-weight: normal;
        line-height: normal;
        margin: 0px;
        padding-left: 48px;
        text-shadow: 1px 1px 0px #FFF;
    }
}

.style-story {
    padding: 0px;
    width: 360px;

    .story-box {
        background-color: @paperColor;
        border: 1px solid #CCC;
        border-radius: 4px;
        box-shadow: 0px 1px 2px #CCC;
    }

    .cover {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        img {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 140px;
            width: 360px;
        }
    }

    .details {
        padding: 15px 15px 10px;

        .type {
            color: @skyColor;
            font-size: 13px;
        }

        .title {
            margin-top: 12px;

            a {
                color: #444;
                font-family: 'UthongBold', serif;
                font-size: 26px;
            }
        }

        .summary {
            color: #555;
            font-family: 'ChiangSaenRegular', sans-serif;
            font-size: 21px;
            line-height: 27px;
            margin-top: 10px;
        }

        .author {
            margin-top: 10px;

            .avatar {
                display: inline-block;
                height: 40px;
                margin-right: 10px;
                vertical-align: middle;
                width: 40px;

                img {
                    border-radius: 40px;
                }
            }

            .name {
                display: inline-block;
                color: #444;
                font-family: 'UthongRegular';
                font-size: 22px;
                vertical-align: middle;
            }
        }
    }

    .footer {
        border-top: 1px dashed #DDD;

        .buy {
            float: left;
            padding: 15px;

            .button-buy {
                font-size: 13px;
                padding: 6px 20px;
                vertical-align: middle;
            }
        }

        .recommends {
            float: right;
            padding: 23px 15px 0px 0px;
            text-align: right;

            span {
                color: #444;
                font-size: 14px;
                font-weight: bold;
                margin-left: 10px;
            }

            .number {
                a {
                    color: #555;
                    font-size: 13px;
                    font-weight: bold;
                }
            }

            .faces {
                margin-top: 4px;


            }
        }
    }

    .extra {
        margin-top: 10px;

        .friend {
            color: #555;
            font-size: 13px;
            font-weight: bold;

            a {
                margin-right: 5px;

                img {
                    border-radius: 30px;
                    height: 30px;
                    margin-left: 3px;
                    width: 30px;
                }
            }
        }
    }
}

.style-shelf-story {
    padding: 0px;
    width: 315px;

    .story-box {
        background-color: @paperColor;
        border: 1px solid #CCC;
        border-radius: 4px;
        //box-shadow: 0px 0px 2px #DDD;
        box-shadow: 0px 1px 0px #999;
    }

    .cover {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        img {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 98px;
            width: 315px;

            // 360x112
            // 315x98
        }
    }

    .details {
        padding: 10px 12px 10px;

        .action {
            float: right;

            a {
                line-height: 18px;
                padding: 0px 6px;
            }
        }

        .type {
            color: @skyColor;
            font-size: 12px;
        }

        .title {
            margin-top: 5px;

            a {
                color: #444;
                font-family: 'UthongBold', serif;
                font-size: 22px;
            }
        }

        .author {
            margin-top: 5px;

            .name {
                display: inline-block;
                color: #666;
                font-family: 'UthongRegular';
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }
}