
@darkerBackgroundColor: #EEE;

//@backgroundColor: #F9F5F5;
//@backgroundColor: #FEFEF4;
//@backgroundColor: #edede2;
//@backgroundColor: #f2f2e9;
@backgroundColor: #F7F7F7;
//@paperColor: #F7F7F7;
@paperColor: #FFF;
@greenColor: #389f9f;
@orangeColor: #f48069;

//@lineOnPaperDarker: #d9d9c3;
//@lineOnPaperLighter: #F7F7F7;
//@lineOnGreenDarker: #379389;
//@lineOnGreenLighter: #73bcb5;
@lineOnPaperDarker: #E1E1E1;
@lineOnPaperLighter: #FFF;
@lineOnGreenDarker: #318c8c;
@lineOnGreenLighter: #45acac;

@linkColor: #308ab0;
@redColor: #e93b5f;
@skyColor: #3ea59b;

.content_link() {
    &:link, &:active, &:visited {
        color: @linkColor;
        text-decoration: underline;
    }

    &:hover {
        background-color: @linkColor;
        color: #FFF;
        text-shadow: none;
    }
}

.grey_link() {
    &:link, &:active, &:visited {
        color: #555;
        text-decoration: underline;
    }

    &:hover {
        background-color: @linkColor;
        color: #FFF;
        text-shadow: none;
    }
}

.facebook_button() {
    background: url(../images/ui/login.socials.en.png) 0px 0px no-repeat;
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 230px;

    &:hover {
        background-position: -230px 0px;
    }
}

.twitter_button() {
    background: url(../images/ui/login.socials.en.png) 0px -40px no-repeat;
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 230px;

    &:hover {
        background-position: -230px -40px;
    }
}

.paper_stack() {
    background-color:#fff;
    border:1px solid #DDD;
    -webkit-box-shadow:0 0 60px 10px rgba(0, 0, 0, 0) inset, 0 5px 0 -4px #fff, 0 5px 0 -3px #DDD, 0 11px 0 -8px #fff, 0 11px 0 -7px #DDD, 0 17px 0 -12px #fff, 0 17px 0 -11px #DDD;
    -moz-box-shadow:0 0 60px 10px rgba(0, 0, 0, 0) inset, 0 5px 0 -4px #fff, 0 5px 0 -3px #DDD, 0 11px 0 -8px #fff, 0 11px 0 -7px #DDD, 0 17px 0 -12px #fff, 0 17px 0 -11px #DDD;
    box-shadow:0 0 60px 10px rgba(0, 0, 0, 0) inset, 0 5px 0 -4px #fff, 0 5px 0 -3px #DDD, 0 11px 0 -8px #fff, 0 11px 0 -7px #DDD, 0 17px 0 -12px #fff, 0 17px 0 -11px #DDD;
}

@import "style.base.less";
@import "style.font.less";
@import "style.modal.less";
@import "style.common.less";
@import "style.page.less";
@import "style.responsive.less";