@media (max-width: 767px) {
  .page-homepage .tagline .is {
    font-size: 20px;
    margin: 5px 0px;
  }
  .page-homepage .tagline h1 {
    font-size: 34px;
    margin: 5px 0px 0px;
  }
  .page-homepage .tagline h2 {
    font-size: 20px;
    margin: 2px;
  }
  .page-homepage .registration {
    margin: 30px auto 0px;
    width: 98%;
  }
  .page-homepage .registration h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .page-homepage .registration .social .facebook {
    display: block;
    margin: 10px auto;
  }
  .page-homepage .registration .social .twitter {
    display: block;
    margin: 10px auto;
  }
  .page-homepage .registration .or span {
    font-size: 10px;
    top: -14px;
  }
  .page-homepage .registration .email {
    text-align: center;
  }
  .page-homepage .registration .email .btn {
    color: #555;
    font-weight: bold;
    width: 160px;
  }
  .page-homepage .stories {
    width: 98%;
  }
  .page-homepage .stories li.style-story .story-container {
    padding: 0px 15px;
  }
  .page-homepage .stories li.style-story .head {
    margin-top: 15px;
  }
  .page-homepage .stories li.style-story .head .title {
    margin: 0px;
    text-align: center;
  }
  .page-homepage .stories li.style-story .head .title a {
    font-size: 24px;
  }
  .page-homepage .stories li.style-story .head .avatar {
    height: 50px;
    margin: 15px auto 10px;
    position: inherit;
    width: 50px;
  }
  .page-homepage .stories li.style-story .head .author {
    margin: 0px;
    text-align: center;
  }
  .page-homepage .stories li.style-story .head .author a {
    font-size: 21px;
  }
  .page-homepage .stories li.style-story .summary {
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
  }
  .page-homepage .stories li.style-story .category a {
    font-size: 12px;
    padding: 2px 10px;
  }
  .page-homepage .stories li.style-story .footer {
    height: auto;
  }
  .page-homepage .stories li.style-story .footer .left {
    margin: 0px;
    padding: 14px 0px 16px 100px;
  }
  .page-homepage .stories li.style-story .footer .right {
    float: none;
    margin-top: 0px;
  }
  .page-homepage .stories li.style-story .footer .button-purchase {
    font-size: 18px;
    margin: 0px;
    padding: 8px 40px 3px;
  }
  .page-homepage .stories li.style-story .footer .read-excerpt {
    display: inline-block;
    font-size: 13px;
    margin: 5px 0px 0px;
  }
  .page-homepage .stories li.style-story .footer .recommends {
    border: none;
    padding: 0px 10px 0px 10px;
  }
}
