<!doctype html>
<!--[if lt IE 7]> <html xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:fb="http://ogp.me/ns/fb#" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{% endblock %}</title>

    <meta name="robots" content="noindex">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/ui/apple-touch-icon.png" />
    <link rel="icon" href="{{ STATIC_URL }}images/ui/favicon.ico" />

    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.css">

    {% block html_head_before_userdefined %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    {% block html_head_after_userdefined %}{% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}libs/retina.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.placeholder.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#body-login').find('.text-input input').placeholder();

        $('#body-account').find('.button-login').on('click', function (e) {
            $(this).addClass('button-login-active').blur();
            $('#body-login').slideDown();
            return false;
        });
    });
    </script>
    {% block html_head_scripts %}{% endblock %}
</head>
<body>
<div id="body-top">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="{{ STATIC_URL }}images/logo.black.small.2.png" /></a>
        </div>
        <ul class="navigation">
            <li><a href="#">Explore content</a></li>
            <li><a href="#">Publish yours</a></li>
        </ul>
        {% if user.is_authenticated %}
            <div class="account">
                <a href="{% url 'auth_logout' %}" class="avatar"><img src="{{ user.get_tiny_avatar_url }}" /></a>
                <div class="menu btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="{% url 'view_my_profile' %}">โปรไฟล์</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'view_my_works' %}">ห้องเขียนหนังสือ</a></li>
                        <li><a href="{% url 'view_my_messages' %}">กล่องจดหมาย</a></li>
                        <li><a href="{% url 'view_my_passbook' %}">สมุดบัญชี</a></li>
                        <li><a href="{% url 'view_my_settings_profile' %}">ตั้งค่าการใช้งาน</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'auth_logout' %}">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="registration">
                <a href="{% url 'view_signup' %}" class="left">สมัครสมาชิก</a><a href="{% url 'view_login' %}" class="right">เข้าสู่ระบบ</a>
            </div>
        {% endif %}
    </div>
</div>
{% block body %}{% endblock %}
<div id="body-footer">
    <div class="container">
        <div class="social">
            <a href="http://www.facebook.com" class="facebook">Facebook Page</a>
            <a href="http://www.twitter.com" class="twitter">Twitter</a>
        </div>
        <div class="links">
            <a href="#">Home</a><span class="separator">|</span><a href="#">About Us</a><span class="separator">|</span><a href="#">Our Policy</a>
        </div>
        <div class="copyright">©2012 StoryPresso</div>
    </div>
</div>
</body>
</html>