{% extends 'base.html' %}

{% block body_class %}body-backend{% endblock %}

{% block body %}
<div id="body-backend" class="{% block page_class %}{% endblock %}">
    <div class="container">
        <div class="style-page-header">{% block body_header %}{% endblock %}</div>
        {% if messages %}{% for message in messages %}<div class="alert alert-{% if message.tags %}{{message.tags}}{% endif %}"><p>{{message}}</p></div>{% endfor %}{% endif %}
    </div>
    <div class="body-content">{% block body_content %}{% endblock %}</div>
</div>
{% endblock %}