{% extends 'base.html' %}

{% block html_head_before_userdefined %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-responsive.css">
{% endblock %}

{% block body %}
<div id="body-top">
    <div class="container">
        {% include 'snippets/top_account.html' %}
    </div>
</div>

<div class="page-homepage">
    <div class="block-title">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="{{ STATIC_URL }}images/logo.white.png" /></a>
                <!--<em>where a finest story is brewed and served</em>-->
            </div>
            <div class="is">is</div>
            <h1>a digital content store</h1>
            <div class="where">where</div>
            <div class="users clearfix">
                <div class="tagline tagline1"><em>readers</em> have the best <b>reading experience</b></div>
                <div class="heart"></div>
                <div class="tagline tagline2"><em>writers</em> have the future <b>publishing platform</b></div>
            </div>
        </div>
    </div>
    <div class="block-writers">
        <div class="container">
            <div class="stat stat1">We have already published <em>300 contents</em> (and counting)</div>
            <div class="stat stat2">from <em>20 writers</em>, including</div>
            <ul class="writers clearfix">
                <li class="writer">
                    <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user1.jpg"/></a></div>
                    <div class="name"><a href="#">Penname</a></div>
                </li>
                <li class="writer">
                    <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user2.jpg"/></a></div>
                    <div class="name"><a href="#">Firstname Lastname</a></div>
                </li>
                <li class="writer">
                    <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user3.jpg"/></a></div>
                    <div class="name"><a href="#">Awesome Writer</a></div>
                </li>
                <li class="writer">
                    <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user4.jpg"/></a></div>
                    <div class="name"><a href="#">Shortname</a></div>
                </li>
                <li class="writer">
                    <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user5.jpg"/></a></div>
                    <div class="name"><a href="#">Good Writing</a></div>
                </li>
            </ul>
            <div class="helping">
                <div class="title">as we are helping them with</div>
                <ul class="features">
                    <li class="feature-first">
                        <em>Distribution</em>
                        <div class="text">ช็อคคอปเตอร์บาลานซ์สเตอริโอธุหร่ำ วันเวย์บอกซ์เชฟซังเต เซ่นไหว้ฟอยล์ปฏิสัมพันธ์สะบึมส์อีแต๋นเด้อ พาร์ตเนอร์วาไรตี้แพ็คเทวาธิราช</div>
                    </li>
                    <li class="feature-second">
                        <em>Payment</em>
                        <div class="text">ช็อคคอปเตอร์บาลานซ์สเตอริโอธุหร่ำ วันเวย์บอกซ์เชฟซังเต เซ่นไหว้ฟอยล์ปฏิสัมพันธ์สะบึมส์อีแต๋นเด้อ พาร์ตเนอร์วาไรตี้แพ็คเทวาธิราช</div>
                    </li>
                    <li class="feature-third">
                        <em>Marketing</em>
                        <div class="text">ช็อคคอปเตอร์บาลานซ์สเตอริโอธุหร่ำ วันเวย์บอกซ์เชฟซังเต เซ่นไหว้ฟอยล์ปฏิสัมพันธ์สะบึมส์อีแต๋นเด้อ พาร์ตเนอร์วาไรตี้แพ็คเทวาธิราช</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block-registration">
        <div class="title">ไม่ว่าคุณจะเป็นนักอ่าน หรือว่านักเขียน</div>
        <div class="subtitle">ก็สามารถเริ่มใช้งาน StoryPresso ได้ฟรีทันที</div>
        <div class="box">
            <div class="social">
                <a href="#" class="facebook">Sign-in with Facebook</a>
                <a href="#" class="twitter">Sign-in with Twitter</a>
            </div>
            <div class="or">
                <hr><span>หรือ</span>
            </div>
            <div class="email"><a href="#" class="btn">สมัครสมาชิกด้วยอีเมล</a></div>
        </div>
    </div>
    <div class="block-publication">

    </div>
</div>




<div class="page-homepage">
<div class="container">

    <div class="stories">
        <h3>เรื่องแนะนำ</h3>
        <ul>
            <li class="style-story">
                <div class="story-container">
                    <div class="head clearfix">
                        <div class="title"><a href="#">ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</a></div>
                        <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a></div>
                        <div class="author">นวนิยาย โดย <a href="#">ภาณุ ตั้งเฉลิมกุล</a></div>
                    </div>
                    <div class="summary">โต๋เต๋ วอฟเฟิลมอยส์เจอไรเซอร์ฮอตแคมป์ติ๋ม โค้ชซะ ช็อปเจ๊าะแจ๊ะ อพาร์ทเมนต์ชัวร์สติ๊กเกอร์รองรับว้าว อิเหนาคาวบอยหม่านโถวออเดอร์เคลียร์บุ๋น บุญคุณเซ็กส์มาร์กไลน์ แลนด์ราชานุญาตแอปเปิ้ล</div>
                    <div class="category"><a href="#">นวนิยาย</a></div>
                </div>

                <div class="footer">
                    <div class="price-container"><div class="price">14 บาท</div></div>
                    <div class="left">
                        <a href="#" class="btn button-purchase">ซื้ออ่าน</a>
                        <a href="#" class="read-excerpt">อ่านตัวอย่างเนื้อหา</a>
                    </div>
                    <div class="right">
                        <div class="recommends">
                            <div class="number"><em>9999 คน</em><span>แนะนำให้อ่าน</span></div>
                            <div class="faces">
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user1.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user2.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user3.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user4.jpg" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="style-story">
                <div class="story-container">
                    <div class="head clearfix">
                        <div class="title"><a href="#">ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</a></div>
                        <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a></div>
                        <div class="author"><a href="#">ภาณุ ตั้งเฉลิมกุล</a></div>
                    </div>
                    <div class="summary">โต๋เต๋ วอฟเฟิลมอยส์เจอไรเซอร์ฮอตแคมป์ติ๋ม โค้ชซะ ช็อปเจ๊าะแจ๊ะ อพาร์ทเมนต์ชัวร์สติ๊กเกอร์รองรับว้าว อิเหนาคาวบอยหม่านโถวออเดอร์เคลียร์บุ๋น บุญคุณเซ็กส์มาร์กไลน์ แลนด์ราชานุญาตแอปเปิ้ล</div>
                    <div class="category"><a href="#">นวนิยาย</a></div>
                </div>

                <div class="footer">
                    <div class="price-container"><div class="price">14 บาท</div></div>
                    <div class="left">
                        <a href="#" class="btn button-purchase">ซื้ออ่าน</a>
                        <a href="#" class="read-excerpt">อ่านตัวอย่างเนื้อหา</a>
                    </div>
                    <div class="right">
                        <div class="recommends">
                            <div class="number"><em>9999 คน</em><span>แนะนำให้อ่าน</span></div>
                            <div class="faces">
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user1.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user2.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user3.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user4.jpg" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="style-story">
                <div class="story-container">
                    <div class="head clearfix">
                        <div class="title"><a href="#">ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</a></div>
                        <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a></div>
                        <div class="author"><a href="#">ภาณุ ตั้งเฉลิมกุล</a></div>
                    </div>
                    <div class="summary">โต๋เต๋ วอฟเฟิลมอยส์เจอไรเซอร์ฮอตแคมป์ติ๋ม โค้ชซะ ช็อปเจ๊าะแจ๊ะ อพาร์ทเมนต์ชัวร์สติ๊กเกอร์รองรับว้าว อิเหนาคาวบอยหม่านโถวออเดอร์เคลียร์บุ๋น บุญคุณเซ็กส์มาร์กไลน์ แลนด์ราชานุญาตแอปเปิ้ล</div>
                    <div class="category"><a href="#">นวนิยาย</a></div>
                </div>

                <div class="footer">
                    <div class="price-container"><div class="price">14 บาท</div></div>
                    <div class="left">
                        <a href="#" class="btn button-purchase">ซื้ออ่าน</a>
                        <a href="#" class="read-excerpt">อ่านตัวอย่างเนื้อหา</a>
                    </div>
                    <div class="right">
                        <div class="recommends">
                            <div class="number"><em>9999 คน</em><span>แนะนำให้อ่าน</span></div>
                            <div class="faces">
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user1.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user2.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user3.jpg" /></a>
                                <a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/user4.jpg" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock %}
