{% extends 'base_backend.html' %}

{% block page_class %}page-shelves{% endblock %}

{% block backend_header %}
<div class="head"><h1>ชั้นหนังสือ</h1></div>
{% endblock %}

{% block backend_body %}

<div class="shelves-blocks">
    <div class="block-shelves">
        <ul>
            <li class="shelf first-shelf active clearfix">
                <a href="#">All<span>10</span></a>
                <!--<span class="unread">100+</span>-->
            </li>
            <li class="shelf last-shelf clearfix">
                <a href="#">Favorites</a>
                <!--<span class="unread">10</span>-->
            </li>
        </ul>
    </div>


        <!--<div class="add">
            <a href="#" class="btn btn-small"><i class="icon-plus-sign"></i> Add new shelf</a>
        </div>-->

    <div class="block-stories">
        <div class="inner-block">
            <ul class="stories">
                {% for purchase in purchases %}
                    <li class="story unread clearfix{% if forloop.last %} last-story{% endif %}">
                        <div class="actions"><a href="#" class="btn btn-small"><i class="icon-chevron-down"></i></a></div>
                        <div class="cover"><img src="{{ purchase.story.tiny_cover_url }}" /></div>
                        <div class="right">
                            <div class="title"><a href="{% url 'read_story' purchase.story.uid %}">{{ purchase.story.title }}</a></div>
                            <div class="subtitle">
                                <span class="type">TRILLER FICTION</span>
                                <span class="author"><span class="by">by</span> <a href="#" class="name">ภาณุ ตั้งเฉลิมกุล</a></span>
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

    <!-- Find by type -->
    <!-- Read status -->
    <!-- Collection -->
{% endblock %}