{% extends 'base_backend.html' %}
{% load common_tags %}

{% block page_class %}page-stories{% endblock %}

{% block backend_header %}
    <h1>ห้องเขียนหนังสือ</h1>
{% endblock %}

{% block backend_messages %}{% endblock %}

{% block backend_body %}
<div class="stories-stats">
    <div class="stats-bar clearfix">
        <div class="stat">
            <div class="title">ผลงานเผยแพร่แล้ว</div>
            <div class="number"><em>5</em> ชิ้นงาน</div>
        </div>
        <div class="stat">
            <div class="title">ยอดซื้อสัปดาห์นี้</div>
            <div class="number"><em>500</em> ชิ้นงาน</div>
        </div>
        <div class="stat">
            <div class="title">รายได้สัปดาห์นี้</div>
            <div class="number"><em>500</em> บาท</div>
        </div>
        <div class="stat">
            <div class="title">ขายดีที่สุดในสัปดาห์นี้</div>
            <div class="number"><a href="#">Publication title</a></div>
        </div>
    </div>
    <!--
    <div class="stats-footer">
        <span class="weekly">ข้อมูลสัปดาห์ตั้งแต่วันที่ 12 ก.พ. 2556 - 19 ก.พ. 2556</span>
        <span class="separator">|</span>
        <a href="#">ดูสถิติทั้งหมด</a>
    </div>-->
</div>

{% include 'snippets/messages.html' %}

<div class="stories-bottom clearfix">
    <div class="block-stories">
        <div class="story-status-filter">
            <ul class="clearfix">
                <li{% if showing_stories == 'all' %} class="active"{% endif %}><a href="{% url 'view_my_stories' %}">งานเขียนทั้งหมด<span>(10)</span></a></li>
                <li{% if showing_stories == 'draft' %} class="active"{% endif %}><a href="{% url 'view_my_stories_draft' %}">ยังไม่เผยแพร่<span>(7)</span></a></li>
                <li{% if showing_stories == 'published' %} class="active"{% endif %}><a href="{% url 'view_my_stories_published' %}">เผยแพร่แล้ว<span>(3)</span></a></li>
            </ul>
        </div>
        {% if stories %}
            <ul class="stories">
                {% for story in stories %}
                    <li class="story clearfix">
                        <div class="cover"><img src="{{ story.tiny_cover_url }}" /></div>
                        <div class="right">
                            <div class="title"><a href="{% url 'view_story' story.uid %}">{{ story.title|default:'<span class="notitle">(ไม่มีชื่อเรื่อง)</span>' }}</a></div>
                            <div class="footer">
                                {% if story.is_draft %}
                                    <a href="{% url 'write_my_story' story.uid %}" class="btn btn-small"><i class="icon-pencil"></i> แก้ไขเนื้อหา</a>
                                    <a href="{% url 'publishing_my_story_excerpt' story.uid %}" class="btn btn-small btn-dark button-publish"><i class="icon-ok icon-white"></i> เผยแพร่</a>
                                {% else %}
                                    <div class="btn-group">
                                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="icon-pencil"></i> แก้ไข <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'edit_my_story_content' story.uid %}">แก้ไขเนื้อหา</a></li>
                                            <li><a href="{% url 'edit_my_story_content' story.uid %}">แก้ไขตัวอย่างเนื้อหา</a></li>
                                            <li><a href="{% url 'edit_my_story_general' story.uid %}">แก้ไขข้อมูลทั่วไป</a></li>
                                        </ul>
                                    </div>
                                    <span class="status status-published">เผยแพร่เมื่อวันที่ {{ story.published_on|format_abbr_datetime }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="style-no-information">ยังไม่มีผลงานเขียน</div>
        {% endif %}
    </div>
    <div class="block-sidebar">
        <div class="actions">
            <a href="{% url 'write_my_empty_story' %}" class="style-button-primary button-write"><i class="icon-pencil icon-white"></i> เขียนงานชิ้นใหม่</a>
        </div>
    </div>
</div>
{% endblock %}