{% extends 'base_page.html' %}

{% block html_head_scripts %}
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}

{% block body_content %}
<div class="page-workroom-publishing">
    <div class="page-header-title">
        <div class="container">
            <ul class="page-breadcrumb">
                <li><a href="{% url 'view_my_works' %}">ห้องเขียนหนังสือ</a> <span class="divider">/</span></li>
                <li><a href="{% url 'view_my_works' %}">เขียนงานชิ้นใหม่</a> <span class="divider">/</span></li>
            </ul>
            <h1>เตรียมเผยแพร่</h1>
        </div>
    </div>

    <div class="container">
        <div class="pub-title">
            <h1>ความน่าจะเป็นที่นี่จะเป็นชื่อเรื่อง</h1>
        </div>

        <div class="clearfix">
            <div class="cover">
                <div class="no_cover">รูปประกอบ</div>
            </div>
            <div class="right">
                <div class="pub-type">
                    <label for="id_pub_type">ประเภท</label>
                    <select id="id_pub_type">
                        <option>Type 1</option>
                        <option>Type 2</option>
                        <option>Type 3</option>
                        <option>Type 4</option>
                    </select>
                </div>

                <div class="pub-price">
                    <label for="id_pub_price">ราคา</label>
                    <input type="number" id="id_pub_price" /><span class="unit">บาท</span>
                </div>

                <div class="pub-summary">
                    <label for="id_pub_summary">คำบรรยาย</label>
                    <textarea id="id_pub_summary">คอนโดแฮมเบอร์เกอร์สเปกลิมิต ดีไซน์เนอร์โบว์เซี้ยวนอร์ท บลอนด์ออร์เดอร์เวสต์ซิงอีสต์ แจม</textarea>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-orange"><i class="icon-ok-sign icon-white"></i> บันทึกและเผยแพร่ทันที</button>
                    <button type="submit" class="btn">บันทึกเป็นฉบับร่าง</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}